Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

feat(web): add skeleton loading states to wallpaper grid
  apps/web/src/components/LoadMoreTrigger.tsx
  apps/web/src/components/WallpaperGrid.tsx
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/grid/WallpaperGridSkeleton.tsx
  apps/web/src/components/grid/index.ts
  apps/web/src/components/grid/types.ts
  apps/web/src/components/grid/utils.ts
  apps/web/src/routes/index.tsx
Due: apps

feat(gateway): add observability with tracing and metrics
  apps/gateway/src/consumers/wallpaper-uploaded.consumer.ts
  apps/gateway/src/consumers/wallpaper-variant-available.consumer.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/src/telemetry/attributes.ts
  infra/grafana/dashboards/gateway-overview.json
Due: apps

feat(variant-generator): add complete service implementation with event consumer
  Makefile
  apps/media/src/repositories/variant.repository.ts
  apps/media/src/services/consumers/wallpaper-variant-uploaded-consumer.service.ts
  apps/variant-generator/.env.example
  apps/variant-generator/Dockerfile
  apps/variant-generator/biome.json
  apps/variant-generator/esbuild.config.ts
  apps/variant-generator/package.json
  apps/variant-generator/src/app.ts
  apps/variant-generator/src/config.ts
  apps/variant-generator/src/connections/minio.ts
  apps/variant-generator/src/connections/nats.ts
  apps/variant-generator/src/errors/problem-details.ts
  apps/variant-generator/src/index.ts
  apps/variant-generator/src/otel-init.ts
  apps/variant-generator/src/routes/health.routes.ts
  apps/variant-generator/src/routes/index.ts
  apps/variant-generator/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/variant-generator/src/services/events.service.ts
  apps/variant-generator/src/services/health.service.ts
  apps/variant-generator/src/services/publishers/wallpaper-variant-uploaded.publisher.ts
  apps/variant-generator/src/services/resolution-matcher.service.ts
  apps/variant-generator/src/services/variant-generator.service.ts
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/test/builders/index.ts
  apps/variant-generator/test/health.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
  apps/variant-generator/tsconfig.json
  apps/variant-generator/vitest.config.ts
  apps/web/src/contexts/upload-queue-context.tsx
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/wallpaper-variant-uploaded.ts
  plans/variant-generator-service.md
  pnpm-lock.yaml
Due: apps, packages

fix(web): resolve lint errors and test failures
  apps/web/src/components/component-example.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input-group.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/main.tsx
  apps/web/test/contexts/upload-queue-reducer.test.ts
  packages/react-muuri/test/integration/dynamic-items.test.tsx
Due: apps, packages

feat(variant-generator): fix the port of the example env file
  apps/variant-generator/.env.example
Due: apps

fix(ingestor): Let ingestor talk to the correct database
  apps/ingestor/.env.example
Due: apps

chore(plans): reorganize completed work and refine phase 4
  plans/backlog/opensearch-migration-system.md
  plans/done/frontend-phase-1-project-setup.md
  plans/done/frontend-phase-2-core-infrastructure.md
  plans/done/frontend-phase-3-routes-components.md
  plans/done/multi-file-upload.md
  plans/done/react-muuri.md
  plans/done/variant-generator-service.md
  plans/frontend-phase-4-environment-config.md
Due: none

docs(plans): mark Variant Generator and Gateway services as complete
  plans/services.md
Due: none

feat(web): add environment config and comprehensive docs
  apps/web/.env.example
  apps/web/README.md
Due: apps

chore(plans): move completed frontend plans to done folder
  plans/done/frontend-overview.md
  plans/done/frontend-phase-4-environment-config.md
Due: none

docs: add AGENTS.md with OpenCode bash execution order guidance
  AGENTS.md
Due: none

docs(agents): expand AGENTS.md with comprehensive project guidance
  AGENTS.md
Due: none

docs(plans): add wallpaper detail page implementation spec
  plans/frontend-wallpaper-detail-page.md
Due: none

chore(gateway): include test files in TypeScript compilation
  apps/gateway/tsconfig.json
Due: apps

test(gateway): add comprehensive getWallpaper query tests
  apps/gateway/test/graphql.test.ts
Due: apps

chore(agents): configure Build agent to allow pnpm commands
  opencode.json
Due: none

feat(gateway,graphql): add getWallpaper query with validation
  api/gateway/graphql/get-wallpaper-invalid-id.bru
  api/gateway/graphql/get-wallpaper-not-found.bru
  api/gateway/graphql/get-wallpaper.bru
  api/gateway/graphql/graphql.bru
  api/gateway/graphql/search-wallpapers.bru
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
Due: apps

test(web,wallpaper-detail): add comprehensive TDD test suite
  apps/web/test/components/wallpaper-detail/VariantList.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperDetailSkeleton.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperDisplay.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperMetadata.test.tsx
  apps/web/test/hooks/use-media-query.test.ts
  apps/web/test/hooks/usePersistentState.test.ts
  apps/web/test/hooks/useWallpaperQuery.test.tsx
  apps/web/test/lib/utils/wallpaper.test.ts
  apps/web/test/routes/wallpapers.$wallpaperId.test.tsx
  apps/web/test/setup.ts
Due: apps

chore(opencode): add MCP support and restructure config schema
  opencode.json
Due: none

docs(plans): update wallpaper detail page with TDD implementation status
  plans/frontend-wallpaper-detail-page.md
Due: none

feat(web,wallpaper-detail): implement comprehensive wallpaper detail page
  apps/web/src/components/wallpaper-detail/VariantList.tsx
  apps/web/src/components/wallpaper-detail/WallpaperDetailSkeleton.tsx
  apps/web/src/components/wallpaper-detail/WallpaperDisplay.tsx
  apps/web/src/components/wallpaper-detail/WallpaperMetadata.tsx
  apps/web/src/components/wallpaper-detail/index.ts
  apps/web/src/hooks/use-media-query.ts
  apps/web/src/hooks/usePersistentState.ts
  apps/web/src/hooks/useWallpaperQuery.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/utils/wallpaper.ts
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  apps/web/test/components/wallpaper-detail/VariantList.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperDetailSkeleton.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperDisplay.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperMetadata.test.tsx
  apps/web/test/hooks/use-media-query.test.ts
  apps/web/test/hooks/useWallpaperQuery.test.tsx
  apps/web/test/routes/wallpapers.$wallpaperId.test.tsx
Due: apps

chore(tsconfig,tests): standardize tsconfig and cleanup test code
  apps/gateway/test/setup.ts
  apps/gateway/tsconfig.json
  apps/ingestor/test/helpers.ts
  apps/ingestor/test/multi-instance.test.ts
  apps/ingestor/test/rate-limiting-distributed.test.ts
  apps/ingestor/test/upload-flow.test.ts
  apps/ingestor/tsconfig.json
  apps/media/test/builders/MediaMigrationsBuilder.ts
  apps/media/tsconfig.json
  apps/variant-generator/tsconfig.json
  apps/web/tsconfig.app.json
  packages/core/tsconfig.json
  packages/events/test/consumer/base-event-consumer.test.ts
  packages/events/tsconfig.json
  packages/react-muuri/tsconfig.json
  packages/test-utils/src/index.ts
  packages/test-utils/tsconfig.json
  packages/testcontainers/tsconfig.json
  packages/url-ipv4-resolver/tsconfig.json
Due: apps, packages

chore(opencode): update agent config to new permission schema
  opencode.json
Due: none

fix(test-utils,tsconfig): resolve TypeScript inference issues in TesterBuilder pattern
  Makefile
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
  apps/gateway/tsconfig.json
  apps/ingestor/test/builders/InProcessIngestorBuilder.ts
  apps/ingestor/test/builders/IngestorDrizzleBuilder.ts
  apps/ingestor/test/builders/IngestorMigrationsBuilder.ts
  apps/ingestor/tsconfig.json
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/builders/MediaMigrationsBuilder.ts
  apps/media/tsconfig.json
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/tsconfig.json
  packages/test-utils/src/builders/MinioTesterBuilder.ts
  packages/test-utils/src/builders/NatsTesterBuilder.ts
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/test-utils/src/builders/PostgresTesterBuilder.ts
  packages/test-utils/src/builders/RedisTesterBuilder.ts
Due: apps, packages

fix(react-muuri): resolve flaky tests with proper async handling
  packages/react-muuri/test/hooks/useItem.test.tsx
  packages/react-muuri/test/hooks/useRefresh.test.tsx
Due: packages

fix(ingestor,tests): fix race condition and timing in scheduler tests
  apps/ingestor/test/scheduler-lifecycle.test.ts
  apps/ingestor/test/scheduler.test.ts
Due: apps

fix(react-muuri,useItem): eliminate race condition in state initialization
  packages/react-muuri/src/hooks/useItem.ts
Due: packages

fix(ingestor,scheduler): run reconciliation immediately on start
  apps/ingestor/src/services/scheduler.service.ts
  apps/ingestor/test/scheduler.test.ts
Due: apps

fix(ingestor,tests): adjust scheduler lifecycle tests for immediate reconciliation
  apps/ingestor/test/scheduler-lifecycle.test.ts
Due: apps

fix(react-muuri,tests): increase waitFor timeout for grid initialization
  packages/react-muuri/test/hooks/useGrid.test.tsx
Due: packages

fix(ingestor,tests): rewrite interval test to avoid race conditions
  apps/ingestor/test/scheduler-lifecycle.test.ts
Due: apps

Revert "fix(ingestor,tests): adjust scheduler lifecycle tests for immediate reconciliation"
  apps/ingestor/test/scheduler-lifecycle.test.ts
Due: apps

Revert "fix(react-muuri,tests): increase waitFor timeout for grid initialization"
  packages/react-muuri/test/hooks/useGrid.test.tsx
Due: packages

Revert "fix(ingestor,scheduler): run reconciliation immediately on start"
  apps/ingestor/src/services/scheduler.service.ts
  apps/ingestor/test/scheduler.test.ts
Due: apps

Revert "fix(ingestor,tests): rewrite interval test to avoid race conditions"
  apps/ingestor/test/scheduler-lifecycle.test.ts
Due: apps

test: add retry to specific flaky tests
  apps/ingestor/test/scheduler-lifecycle.test.ts
  apps/ingestor/test/scheduler.test.ts
  packages/react-muuri/test/hooks/useGrid.test.tsx
Due: apps, packages

docs(plans): add production readiness plans for security and operations
  plans/backup-disaster-recovery.md
  plans/dependency-vulnerability-scanning.md
  plans/done/frontend-wallpaper-detail-page.md
  plans/graphql-security-hardening.md
  plans/input-validation-injection-prevention.md
  plans/monitoring-alerting-improvements.md
  plans/secrets-management-production.md
  plans/security-headers.md
  plans/structured-logging.md
Due: none

feat(gateway,graphql): implement comprehensive security hardening
  GRAPHQL_SECURITY_ISSUE_SUMMARY.md
  apps/docs/content/docs/architecture/decisions/graphql-security-hardening.mdx
  apps/docs/content/docs/architecture/decisions/index.mdx
  apps/gateway/.env.example
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/src/connections/redis.ts
  apps/gateway/src/consumers/wallpaper-uploaded.consumer.ts
  apps/gateway/src/consumers/wallpaper-variant-available.consumer.ts
  apps/gateway/src/errors/graphql-errors.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/validation-rules.ts
  apps/gateway/src/index.ts
  apps/gateway/src/otel-init.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/routes/health.routes.ts
  apps/gateway/src/services/cursor.service.ts
  apps/gateway/src/services/health.service.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/src/services/query-complexity.service.ts
  apps/gateway/src/services/rate-limit.service.ts
  apps/gateway/src/telemetry/attributes.ts
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/tsconfig.json
  infra/grafana/dashboards/gateway-security.json
Due: apps

chore(plans): mark graphql security hardening as complete
  GRAPHQL_SECURITY_ISSUE_SUMMARY.md
  plans/done/graphql-security-hardening.md
Due: none

feat(web,grid): add overlay menu with navigation, download, and share actions
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/grid/types.ts
  apps/web/src/components/grid/utils.ts
  apps/web/src/lib/services/wallpaper-share.ts
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  apps/web/test/components/grid/WallpaperCard.test.tsx
  apps/web/test/lib/services/wallpaper-share.test.ts
Due: apps

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
