Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

test(web): restart biography embed retries after identity changes
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

fix(web): avoid unchanged Biography saves and refresh pristine drafts
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

feat(user): enforce the shared Biography policy with configured Unicode limits
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat(profiles): add shared Biography Markdown policy package
  apps/user/package.json
  apps/web/package.json
  packages/profile-markdown/biome.json
  packages/profile-markdown/package.json
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
  packages/profile-markdown/tsconfig.json
  packages/profile-markdown/vitest.config.ts
  pnpm-lock.yaml
Due: apps, packages

feat(profiles): normalize Biography HTTPS link destinations
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
Due: packages

docs: describe Profile discovery and exact ownership filters (#174)
  apps/docs/content/docs/services/index.mdx
  apps/gateway/README.md
Due: apps

test(user): preserve Wallpaper publication ownership through event replay
  apps/user/test/profile.integration.test.ts
Due: apps

docs(user): describe Biography commands and configurable limits
  apps/docs/content/docs/services/user.mdx
  apps/user/.env.example
  apps/user/README.md
Due: apps

feat(web): search and select contributor Profiles
  apps/web/src/components/profile/profile-filter.tsx
  apps/web/src/lib/graphql/profiles.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/test/components/profile/profile-filter.test.tsx
Due: apps

feat(profiles): audit combined Biography and Display-name edits atomically
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  packages/events/src/schemas/profile-updated.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

style(profiles): format shared Markdown policy
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
  packages/profile-markdown/test/rendering-policy.test.ts
Due: packages

test(user): enforce shared malicious Biography policy without partial updates
  apps/user/test/profile.integration.test.ts
Due: apps

test(nats): run stream retention upgrade checks in local CI
  Makefile
  infra/nats/init/README.md
Due: none

docs: clarify Profile search privacy (#174)
  apps/docs/content/docs/services/index.mdx
Due: apps

fix(profiles): bundle Markdown policy runtime dependencies
  packages/profile-markdown/package.json
  pnpm-lock.yaml
Due: packages

fix(nats): update existing stream retention without replacing events
  infra/nats/init/setup-streams.sh
  infra/nats/init/setup-streams.test.ts
Due: none

feat(gateway): paginate Profile ranking with stable ID cursors (#174)
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/test/profile-search.test.ts
Due: apps

feat(profiles): recognize Biography Wallpaper references
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
Due: packages

docs(user): explain Biography embed lag and ownership errors
  apps/docs/content/docs/services/user.mdx
Due: apps

feat(web): validate Biography drafts against the shared character policy
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

feat(gateway): expose Profile search connection (#174)
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
  apps/gateway/src/repositories/profile.repository.ts
  apps/gateway/test/profile-search.test.ts
Due: apps

feat(events): record authored Biography changes and clearing
  packages/events/src/schemas/profile-updated.ts
  packages/events/test/schemas.test.ts
Due: packages

test(web): cover owner refresh after exhausted biography embed retries
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

test(web): verify Profile search races at the fetch boundary
  apps/web/test/components/profile/profile-filter.test.tsx
  apps/web/test/routes/index.test.tsx
Due: apps

test(user): preserve failed delivery and NATS evidence history (#175)
  apps/user/test/profile-event-retention.integration.test.ts
Due: apps

Add picture selection preview and preserve failed uploads for retry
  apps/web/src/components/profile/profile-picture-settings.tsx
  apps/web/test/components/profile/profile-picture-settings.test.tsx
Due: apps

docs(profile): record compact relative cooldown presentation
  apps/web/src/components/profile/PROFILE-PROTOTYPE-NOTES.md
Due: apps

fix(user): advance picture cleanup beyond failed batches
  apps/user/src/services/profile-picture-retention.service.ts
  apps/user/test/profile-picture-retention.integration.test.ts
Due: apps

docs(profile): record fourth prototype direction and verification
  apps/web/src/components/profile/PROFILE-PROTOTYPE-NOTES.md
Due: apps

fix(web): describe configurable Handle history accurately (#175)
  apps/web/src/components/profile/profile-historical-handles.tsx
  apps/web/test/components/profile/profile-historical-handles.test.tsx
  apps/web/test/components/profile/profile-settings-page.test.tsx
Due: apps

docs: define configurable Profile evidence retention (#175)
  apps/docs/content/docs/services/user.mdx
  apps/user/.env.example
  apps/user/CONTEXT.md
  apps/user/README.md
Due: apps

feat(web): add inline profile save feedback with authoritative cache updates
  apps/web/src/components/profile/profile-action-button.tsx
  apps/web/src/components/profile/profile-edit-feedback.css
  apps/web/src/components/profile/profile-inline-field.tsx
  apps/web/test/components/profile/profile-inline-field.test.tsx
Due: apps

Format production profile regressions and type partial auth fixtures
  apps/web/test/components/profile/profile-biography-settings.test.tsx
  apps/web/test/components/profile/profile-editor-overview.test.tsx
  apps/web/test/components/profile/profile-picture-settings.test.tsx
  apps/web/test/components/profile/profile-settings-page.test.tsx
  apps/web/test/components/profile/public-profile-page.test.tsx
Due: apps

prototype(profile): focus dialog titles without opening action hints
  apps/web/src/components/profile/profile-settings.prototype.tsx
Due: apps

fix(web): open own profile from a wider account menu
  apps/web/src/components/user-menu.tsx
  apps/web/test/components/user-menu.test.tsx
Due: apps

style(gateway): format shared alias activity filter (#174)
  apps/gateway/src/repositories/profile.repository.ts
Due: apps

Move previous handle management into a compact summary dialog
  apps/web/src/components/profile/profile-alias-settings.tsx
  apps/web/src/components/profile/profile-historical-handles.tsx
Due: apps

test(ci): expose false success after failed checks
  scripts/ci-runner.test.ts
Due: none

Keep shared notifications separated as upload details expand
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/components/upload/upload-queue-toast-manager.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/test/components/upload/upload-queue-toast-manager.test.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
Due: apps

feat(user): report failed profile picture cleanup safely
  apps/user/src/services/profile-picture-retention.service.ts
  apps/user/test/profile-picture-retention.integration.test.ts
Due: apps
