Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

docs(assets): remove stale descriptor guidance
  apps/color-extractor/.env.example
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
Due: apps

refactor(color-extractor): resolve originals without a descriptor registry
  apps/color-extractor/.env.example
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/config.ts
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/builders/InProcessColorExtractorBuilder.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/config.test.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/image-cancellation.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
  apps/color-extractor/test/telemetry.integration.test.ts
Due: apps

fix(color-extractor): quarantine oversized input with recoverable chunks
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
Due: apps

test(web-e2e): verify isolated profile picture lifecycle in browser
  apps/web-e2e/specs/profile-picture-journey.spec.ts
Due: apps

fix(user): report unavailable picture reference publication storage
  apps/user/src/adapters/events/index.ts
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat(infra): provision private persistent asset descriptor storage
  infra/docker-compose.yml
  scripts/test-object-storage.mjs
Due: none

fix(user): publish logical references for immutable profile pictures
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/test/events.integration.test.ts
  apps/user/test/picture-workflows.integration.test.ts
  apps/user/test/profile-picture-retention.integration.test.ts
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/profile.integration.test.ts
Due: apps

fix(quarantine): frame header-heavy inputs for bounded replay
  apps/color-extractor/test/events-consumer.integration.test.ts
  apps/media/test/events-consumer.integration.test.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  packages/core/src/quarantine/index.ts
  packages/core/test/quarantine.test.ts
Due: apps, packages

feat(variant-generator): publish immutable logical asset references
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/adapters/image/storage.ts
  apps/variant-generator/src/app.ts
  apps/variant-generator/src/config.ts
  apps/variant-generator/src/generation/index.ts
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/test/config.test.ts
  apps/variant-generator/test/events-translation.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/generation.test.ts
  apps/variant-generator/test/health.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
  apps/variant-generator/test/server.integration.test.ts
  apps/variant-generator/test/telemetry.integration.test.ts
Due: apps

test(web): build clean fixture dependencies in isolation
  scripts/makefile.test.mjs
Due: none

fix(gateway): normalize relative color weights without overflow
  apps/gateway/src/catalogue/colors.ts
  apps/gateway/test/color-sort.test.ts
Due: apps

refactor(user): publish picture references without a registry
  apps/user/.env.example
  apps/user/src/adapters/events/index.ts
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/test/events.integration.test.ts
  apps/user/test/picture-workflows.integration.test.ts
  apps/user/test/profile-picture-retention.integration.test.ts
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat(core): resolve immutable asset references through retained descriptors
  packages/core/package.json
  packages/core/src/assets/index.ts
  packages/core/test/integration/assets.test.ts
Due: packages

fix(color-extractor): probe required asset reference storage
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
  apps/color-extractor/test/telemetry.integration.test.ts
Due: apps

docs(review): add stable asset browser evidence
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/deterministic-filter.png
  docs/review-evidence/event-contracts/deterministic-profile.webm
  docs/review-evidence/event-contracts/deterministic-upload.webm
  docs/review-evidence/event-contracts/deterministic-variant.webm
Due: none

fix(media): reject conflicting CloudEvent metadata
  apps/media/src/adapters/events/translation.ts
  apps/media/test/events-translation.test.ts
Due: apps

fix(events): centralize envelope reconciliation and conformance
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/event-envelope-conformance.test.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-envelope-conformance.test.ts
  apps/media/src/adapters/events/translation.ts
  apps/media/test/event-envelope-conformance.test.ts
  apps/user/src/adapters/events/translation.ts
  apps/user/test/event-envelope-conformance.integration.test.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/event-envelope-conformance.test.ts
  packages/events/package.json
  packages/events/src/envelope/index.ts
  packages/events/test/envelope.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/event-contracts/index.ts
Due: apps, packages

feat(color-extractor): resolve logical original asset references
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/config.ts
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/builders/InProcessColorExtractorBuilder.ts
  apps/color-extractor/test/config.test.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
Due: apps

fix(web): ignore empty owner queries in profile snapshots
  apps/web/src/hooks/use-owner-profile.ts
  apps/web/test/components/profile-bootstrap.test.tsx
Due: apps

fix(web): provide router context to upload notifications
  apps/web/src/App.tsx
  apps/web/src/routes/__root.tsx
  apps/web/test/app-upload-navigation.test.tsx
Due: apps

refactor(events): remove unused unsafe broker runners
  packages/events/package.json
  packages/events/src/consumer/base-event-consumer.ts
  packages/events/src/consumer/index.ts
  packages/events/src/index.ts
  packages/events/src/publisher/base-event-publisher.ts
  packages/events/src/publisher/index.ts
  packages/events/test/consumer/base-event-consumer.test.ts
  packages/events/test/public-contract.test.ts
  packages/events/test/publisher/base-event-publisher.test.ts
Due: packages

docs(review): remove review evidence artifacts
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/catalogue-filter.webm
  docs/review-evidence/event-contracts/deterministic-filter.png
  docs/review-evidence/event-contracts/deterministic-profile.mp4
  docs/review-evidence/event-contracts/deterministic-upload.mp4
  docs/review-evidence/event-contracts/deterministic-variant.mp4
  docs/review-evidence/event-contracts/profile-picture-removal.webm
  docs/review-evidence/event-contracts/upload-notification.webm
  docs/review-evidence/event-contracts/variant-dimensions.webm
Due: none

test(web-e2e): cover upload catalogue and decoded variant delivery
  apps/web-e2e/specs/base-user.setup.ts
  apps/web-e2e/specs/catalogue-journey.spec.ts
  apps/web-e2e/specs/journey-helpers.ts
  apps/web-e2e/tsconfig.json
Due: apps

fix(events): reject contradictory CloudEvent extension metadata
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/media/src/adapters/events/translation.ts
  apps/media/test/events-translation.test.ts
  apps/user/src/adapters/events/translation.ts
  apps/user/test/events.integration.test.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/events-translation.test.ts
Due: apps

fix(gateway): validate event causation source metadata
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps

docs(review): record final contract and browser verification
  plans/event-contract-review.md
Due: none

fix(web): separate wallpaper card action controls
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/test/components/grid/WallpaperCard.test.tsx
Due: apps

Run the vendored CRAP analyzer as a workspace package
  .github/workflows/ci.yml
  Makefile
  apps/docs/content/docs/guides/crap-scores.mdx
  crap.config.mts
  package.json
  packages/crap-typescript-core/LICENSE
  packages/crap-typescript-core/README.md
  packages/crap-typescript-core/UPSTREAM.md
  packages/crap-typescript-core/biome.json
  packages/crap-typescript-core/package.json
  packages/crap-typescript-core/src/constants.ts
  packages/crap-typescript-core/src/coverageAttribution.ts
  packages/crap-typescript-core/src/coverageNormalization.ts
  packages/crap-typescript-core/src/coverageUnits.ts
  packages/crap-typescript-core/src/crapScore.ts
  packages/crap-typescript-core/src/fileSelection.ts
  packages/crap-typescript-core/src/index.ts
  packages/crap-typescript-core/src/istanbul.ts
  packages/crap-typescript-core/src/parser.ts
  packages/crap-typescript-core/src/sourceExclusions.ts
  packages/crap-typescript-core/src/types.ts
  packages/crap-typescript-core/src/utils.ts
  packages/crap-typescript-core/test/callbackCoverage.test.ts
  packages/crap-typescript-core/test/callbacks.test.ts
  packages/crap-typescript-core/test/coverage.test.ts
  packages/crap-typescript-core/test/fileSelection.test.ts
  packages/crap-typescript-core/test/parser.test.ts
  packages/crap-typescript-core/test/sourceExclusions.test.ts
  packages/crap-typescript-core/test/testUtils.ts
  packages/crap-typescript-core/tsconfig.json
  packages/crap-typescript-core/turbo.json
  packages/crap-typescript-core/vitest.config.ts
  pnpm-lock.yaml
  scripts/crap-scope.test.mjs
  scripts/crap-vitest.config.ts
  scripts/crap.mts
  scripts/crap.test.ts
  scripts/vendor/crap-typescript-core/UPSTREAM.md
Due: apps, packages

Vendor the shared CRAP analyzer with upstream provenance
  Makefile
  crap.config.mts
  package.json
  pnpm-lock.yaml
  scripts/crap-scope.test.mjs
  scripts/crap-vitest.config.ts
  scripts/crap.mts
  scripts/vendor/crap-typescript-core/LICENSE
  scripts/vendor/crap-typescript-core/UPSTREAM.md
  scripts/vendor/crap-typescript-core/src/constants.ts
  scripts/vendor/crap-typescript-core/src/coverageAttribution.ts
  scripts/vendor/crap-typescript-core/src/coverageNormalization.ts
  scripts/vendor/crap-typescript-core/src/coverageUnits.ts
  scripts/vendor/crap-typescript-core/src/crapScore.ts
  scripts/vendor/crap-typescript-core/src/fileSelection.ts
  scripts/vendor/crap-typescript-core/src/index.ts
  scripts/vendor/crap-typescript-core/src/istanbul.ts
  scripts/vendor/crap-typescript-core/src/parser.ts
  scripts/vendor/crap-typescript-core/src/sourceExclusions.ts
  scripts/vendor/crap-typescript-core/src/types.ts
  scripts/vendor/crap-typescript-core/src/utils.ts
  scripts/vendor/crap-typescript-core/test/coverage.test.ts
  scripts/vendor/crap-typescript-core/test/fileSelection.test.ts
  scripts/vendor/crap-typescript-core/test/parser.test.ts
  scripts/vendor/crap-typescript-core/test/sourceExclusions.test.ts
  scripts/vendor/crap-typescript-core/test/testUtils.ts
Due: none

Measure callback bodies with conservative coverage ownership
  .github/workflows/ci.yml
  apps/docs/content/docs/guides/crap-scores.mdx
  packages/vitest-config/src/defaults.ts
  scripts/ci-runner.test.ts
  scripts/crap-scope.test.mjs
  scripts/crap.test.ts
  scripts/fixtures/crap/callbacks.test.ts
  scripts/fixtures/crap/callbacks.ts
  scripts/tsconfig.crap.json
  scripts/vendor/crap-typescript-core/UPSTREAM.md
  scripts/vendor/crap-typescript-core/src/coverageAttribution.ts
  scripts/vendor/crap-typescript-core/src/coverageUnits.ts
  scripts/vendor/crap-typescript-core/src/istanbul.ts
  scripts/vendor/crap-typescript-core/src/parser.ts
  scripts/vendor/crap-typescript-core/src/types.ts
  scripts/vendor/crap-typescript-core/test/callbackCoverage.test.ts
  scripts/vendor/crap-typescript-core/test/callbacks.test.ts
  scripts/vendor/crap-typescript-core/test/coverage.test.ts
Due: apps, packages

Use the shared config package export in analyzer tests
  Makefile
  package.json
  pnpm-lock.yaml
  scripts/crap.test.ts
  scripts/makefile.test.mjs
Due: none

Require workspace ownership and Turbo checks for code and scripts
  docs/coding-standards/project-organization.md
Due: none

Run provider compatibility checks through the root Turbo tasks
  .github/workflows/ci.yml
  Makefile
  apps/docs/content/docs/guides/crap-scores.mdx
  package.json
  packages/crap-typescript-core/UPSTREAM.md
  scripts/ci-runner.test.ts
  scripts/crap.test.ts
  scripts/makefile.test.mjs
  test/fixtures/crap/callbacks.test.ts
  test/fixtures/crap/callbacks.ts
  test/integration/crap-provider.test.ts
  tsconfig.tooling.json
  turbo.json
  vitest.integration.config.ts
Due: apps, packages

Add browser recording for image-only upload flow
  .github/recordings/issue-246-upload-flow.webm
Due: none

Keep upload demonstration as PR attachment
  .github/recordings/issue-246-upload-flow.webm
Due: none

Align upload copy and picker with supported images
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
  apps/web/test/routes/upload.test.tsx
Due: apps

Reject unsupported upload files before queueing
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
Due: apps

Use Dockerode endpoint discovery in test utilities
  packages/test-utils/tests/docker.test.ts
  packages/test-utils/tests/nats.test.ts
  packages/test-utils/tests/postgres.test.ts
  packages/test-utils/tests/redis.test.ts
Due: packages

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
