Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

fix(docs): Fix the structure in the docs, because it was confusing
  apps/docs/content/docs/architecture/decisions/meta.json
  apps/docs/content/docs/architecture/meta.json
  apps/docs/content/docs/meta.json
  apps/docs/content/docs/observability.mdx
  apps/docs/content/docs/observability/meta.json
  apps/docs/content/docs/testing/meta.json
  apps/docs/src/components/api-page.tsx
Due: apps

Fix(ai): typo in commit.md regarding 'claude'
  .claude/agents/commit.md
Due: none

fix(docs): resolve lint issues in docs package
  apps/docs/biome.json
  apps/docs/package.json
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/og/docs/[...slug]/route.tsx
  apps/docs/src/components/api-page.tsx
  apps/docs/src/lib/openapi.ts
Due: apps

feat(media): implement Phase 1 scaffold and health endpoints
  CLAUDE.md
  Makefile
  apps/media/biome.json
  apps/media/drizzle.config.ts
  apps/media/drizzle/0000_media_schema.sql
  apps/media/esbuild.config.ts
  apps/media/package.json
  apps/media/src/app.ts
  apps/media/src/config.ts
  apps/media/src/connections/base/base-connection.ts
  apps/media/src/connections/database.ts
  apps/media/src/connections/minio.ts
  apps/media/src/connections/nats.ts
  apps/media/src/db/schema.ts
  apps/media/src/index.ts
  apps/media/src/routes/health.routes.ts
  apps/media/src/routes/index.ts
  apps/media/src/services/health.service.ts
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/builders/MediaMigrationsBuilder.ts
  apps/media/test/builders/index.ts
  apps/media/test/health.test.ts
  apps/media/tsconfig.json
  apps/media/vitest.config.ts
  plans/NEXT-STEPS.md
  plans/multi-service-architecture.md
  plans/openapi-integration.md
  pnpm-lock.yaml
Due: apps

feat(infra): implement database-per-service pattern
  apps/ingestor/drizzle.config.ts
  apps/media/drizzle.config.ts
  apps/media/drizzle/0000_media_schema.sql
  apps/media/drizzle/0000_mute_the_professor.sql
  apps/media/drizzle/meta/0000_snapshot.json
  apps/media/drizzle/meta/_journal.json
  apps/media/src/config.ts
  apps/media/test/builders/MediaMigrationsBuilder.ts
  infra/postgres/init/01-init.sql
Due: apps

docs(media): mark Phase 1 scaffold complete
  plans/media-service.md
Due: none

feat(media): implement Phase 2 event consumer and retrieval
  apps/media/src/app.ts
  apps/media/src/repositories/wallpaper.repository.ts
  apps/media/src/routes/index.ts
  apps/media/src/routes/media.routes.ts
  apps/media/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/media/src/services/media.service.ts
  apps/media/test/integration/event-consumption.test.ts
  packages/events/src/consumer/base-event-consumer.ts
Due: apps, packages

chore: update plans
  plans/media-service.md
  plans/phase4-resize-implementation.md
Due: none

feat(media): implement Phase 4 resize and variant selection
  apps/media/drizzle/0001_pretty_stellaris.sql
  apps/media/drizzle/meta/0001_snapshot.json
  apps/media/drizzle/meta/_journal.json
  apps/media/src/db/schema.ts
  apps/media/src/errors/problem-details.ts
  apps/media/src/repositories/variant.repository.ts
  apps/media/src/routes/media.routes.ts
  apps/media/src/services/media.service.ts
  apps/media/src/services/resize.service.ts
  apps/media/src/services/variant-selector.service.ts
  apps/media/test/integration/resize.test.ts
Due: apps

feat(media): bruno, nats setup, and plans
  Makefile
  api/media/health/health-check.bru
  api/media/health/readiness-check.bru
  api/media/wallpapers/get-wallpaper-original.bru
  api/media/wallpapers/get-wallpaper-resized.bru
  infra/nats/init/README.md
  infra/nats/init/create-wallpaper-stream.sh
  infra/nats/init/setup-streams.sh
  plans/media-service-telemetry.md
  turbo.json
Due: none

feat(otel): Add open telemetry to the media service. Also fixes trace nesting for both services.
  apps/ingestor/src/connections/otel.ts
  apps/media/src/app.ts
  apps/media/src/connections/otel.ts
  apps/media/src/repositories/variant.repository.ts
  apps/media/src/repositories/wallpaper.repository.ts
  apps/media/src/routes/media.routes.ts
  apps/media/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/media/src/services/health.service.ts
  apps/media/src/services/media.service.ts
  apps/media/src/services/resize.service.ts
  apps/media/src/services/variant-selector.service.ts
  apps/media/test/health.test.ts
  packages/core/package.json
  packages/core/src/connections/index.ts
  packages/core/src/connections/otel-connection.ts
  packages/core/src/telemetry/attributes.ts
  packages/core/src/telemetry/tracing.ts
  packages/core/test/telemetry.test.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: apps, packages

feat(docs): Add media openapi support in the docs
  apps/docs/content/docs/openapi/ingestor/health/get.mdx
  apps/docs/content/docs/openapi/ingestor/ready/get.mdx
  apps/docs/content/docs/openapi/ingestor/upload/post.mdx
  apps/docs/content/docs/openapi/media/health/get.mdx
  apps/docs/content/docs/openapi/media/ready/get.mdx
  apps/docs/content/docs/openapi/media/wallpapers/id/get.mdx
  apps/docs/package.json
  apps/docs/scripts/generate-docs.ts
  apps/docs/src/components/api-page.tsx
  apps/docs/src/lib/openapi.ts
  apps/docs/src/mdx-components.tsx
  apps/media/src/gen_swagger.ts
  apps/media/src/repositories/wallpaper.repository.ts
  apps/media/swagger.json
Due: apps

fix: Fix formatting, linting, and type checking issues
  Makefile
  apps/docs/package.json
  apps/docs/scripts/generate-docs.ts
  apps/docs/src/components/api-page.tsx
  apps/docs/src/lib/openapi.ts
  apps/docs/src/mdx-components.tsx
  apps/ingestor/package.json
  apps/ingestor/src/gen_swagger.ts
  apps/ingestor/src/routes/index.ts
  apps/media/src/connections/otel.ts
  apps/media/src/db/schema.ts
  apps/media/src/errors/problem-details.ts
  apps/media/src/gen_swagger.ts
  apps/media/src/repositories/variant.repository.ts
  apps/media/src/repositories/wallpaper.repository.ts
  apps/media/src/routes/media.routes.ts
  apps/media/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/media/src/services/media.service.ts
  apps/media/src/services/resize.service.ts
  apps/media/src/services/variant-selector.service.ts
  packages/core/src/connections/otel-connection.ts
  packages/core/test/telemetry.test.ts
Due: apps, packages

chore: pnpm upgrade && pnpm install
  package.json
  pnpm-lock.yaml
Due: none

chore: remove unused dockerfile
  Dockerfile
Due: none

fix(docker): Fix the docker builds
  apps/media/Dockerfile
  apps/media/package.json
Due: apps

refactor(otel): Fix auto-instrumentation by initializing SDK before module imports
  apps/ingestor/package.json
  apps/ingestor/src/app.ts
  apps/ingestor/src/connections/database.ts
  apps/ingestor/src/connections/otel.ts
  apps/ingestor/src/index.ts
  apps/ingestor/src/otel-init.ts
  apps/ingestor/src/services/health.service.ts
  apps/ingestor/test/otel-init.test.ts
  apps/media/package.json
  apps/media/src/app.ts
  apps/media/src/connections/database.ts
  apps/media/src/connections/otel.ts
  apps/media/src/index.ts
  apps/media/src/otel-init.ts
  apps/media/src/services/health.service.ts
  packages/core/package.json
  packages/core/src/config/schemas/otel.schema.ts
  pnpm-lock.yaml
Due: apps, packages

feat(ai): try to make the ai commits more concise
  .claude/agents/commit.md
Due: none

feat(infra): add media service Grafana dashboard
  infra/grafana/dashboards/media-overview.json
Due: none

chore: Mark completed steps as done
  plans/done/NEXT-STEPS.md
  plans/done/ingestor.md
  plans/done/media-service-telemetry.md
  plans/done/media-service.md
  plans/done/openapi-integration.md
  plans/done/phase3-fixtures-and-helpers.md
  plans/done/phase4-resize-implementation.md
Due: none

fix(ingestor): otel init test for ingestor
  apps/ingestor/test/otel-init.test.ts
Due: apps

feat: Add an experiment
  experiments/cosine_color_accuracy/package.json
  experiments/cosine_color_accuracy/src/closest_match.ts
  experiments/cosine_color_accuracy/src/colors.ts
  experiments/cosine_color_accuracy/src/embed.ts
  experiments/cosine_color_accuracy/src/files.ts
  experiments/cosine_color_accuracy/src/index.ts
  experiments/cosine_color_accuracy/src/similarity.ts
  experiments/cosine_color_accuracy/src/vector.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: Create gateway service plan!
  GEMINI.md
  plans/done/plan.md
  plans/gateway-service.md
  plans/multi-service-architecture.md
  plans/services.md
Due: none

feat(gateway): Add gateway service scaffolding
  Makefile
  apps/docs/package.json
  apps/gateway/.env.example
  apps/gateway/.gitignore
  apps/gateway/Dockerfile
  apps/gateway/README.md
  apps/gateway/biome.json
  apps/gateway/esbuild.config.ts
  apps/gateway/package.json
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/src/connections/opensearch.ts
  apps/gateway/src/index.ts
  apps/gateway/src/otel-init.ts
  apps/gateway/src/routes/health.routes.ts
  apps/gateway/src/routes/index.ts
  apps/gateway/src/services/health.service.ts
  apps/gateway/test/README.md
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
  apps/gateway/test/builders/index.ts
  apps/gateway/test/health.test.ts
  apps/gateway/tsconfig.json
  apps/gateway/vitest.config.ts
  apps/ingestor-e2e/package.json
  apps/media/package.json
  packages/test-utils/package.json
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/test-utils/src/index.ts
  packages/testcontainers/package.json
  pnpm-lock.yaml
Due: apps, packages

fix: Resolve CI failures for lint, build, and tests
  apps/docs/content/docs/infrastructure/grafana.mdx
  apps/docs/content/docs/packages/testcontainers.mdx
  apps/docs/package.json
  apps/gateway/package.json
  apps/gateway/src/otel-init.ts
  apps/gateway/test/health.test.ts
  apps/ingestor/package.json
  apps/ingestor/src/otel-init.ts
  apps/media/package.json
  apps/media/src/app.ts
  apps/media/src/otel-init.ts
  packages/test-utils/package.json
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/testcontainers/package.json
Due: apps, packages

chore(commit-agent): Enforce 4-line max for commit descriptions
  .claude/agents/commit.md
Due: none

fix: Various issues needed to be resolved
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/src/connections/opensearch.ts
  apps/gateway/src/consumers/wallpaper-uploaded.consumer.ts
  apps/gateway/src/consumers/wallpaper-variant-available.consumer.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/integration/event-consumers.test.ts
  apps/ingestor/biome.json
  apps/media/0002_snapshot.json
  apps/media/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/media/src/services/events.service.ts
  apps/media/src/services/publishers/wallpaper_variant_available.publisher.ts
  apps/media/test/integration/event-consumption.test.ts
  apps/media/test/integration/resize.test.ts
  packages/core/biome.json
  packages/events/biome.json
  packages/events/src/consumer/base-event-consumer.ts
  packages/events/src/schemas/wallpaper-variant-available.ts
  packages/events/test/schemas.test.ts
  packages/test-utils/biome.json
  packages/test-utils/src/builders/NatsTesterBuilder.ts
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/test-utils/tests/nats.test.ts
  packages/testcontainers/biome.json
  packages/url-ipv4-resolver/biome.json
Due: apps, packages

fix: fix a type checking issue
  apps/gateway/src/repositories/wallpaper.repository.ts
Due: apps

fix: Change the experiment start script so it doesnt run with make dev
  experiments/cosine_color_accuracy/package.json
Due: none

fix: Fix tests, and image/png vs png related issues
  apps/gateway/.env.example
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/test/integration/graphql.test.ts
  apps/media/src/services/events.service.ts
  apps/media/swagger.json
  infra/.env.example
  packages/events/src/schemas/wallpaper-variant-available.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

docs: Add a very complete migration operator plan that is overkill for now
  plans/opensearch-migration-system.md
Due: none

feat: Add make migrate command
  Makefile
Due: none

feat: move media service url to config
  apps/gateway/.env.example
  apps/gateway/src/config.ts
  apps/gateway/src/graphql/resolvers.ts
Due: apps

feat: Add Gateway GraphQL API to Bruno collection
  api/environments/local.bru
  api/gateway/graphql/graphql.bru
Due: none

refactor(core): Extract MinIO and OTEL connections to shared package
  apps/gateway/src/config.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/test/README.md
  apps/gateway/test/integration/graphql.test.ts
  apps/gateway/test/integration/health.test.ts
  apps/ingestor/src/connections/minio.ts
  apps/ingestor/src/connections/otel.ts
  apps/media/src/connections/minio.ts
  apps/media/src/connections/otel.ts
  packages/core/package.json
  packages/core/src/connections/index.ts
  packages/core/src/connections/minio-connection.ts
  packages/core/src/connections/otel-connection.ts
  packages/core/src/connections/otel.ts
  packages/core/src/connections/types.ts
  packages/core/test/connections/otel-connection.test.ts
  packages/core/test/integration/connections/minio-connection.test.ts
  packages/core/test/telemetry.test.ts
  packages/core/vitest.config.integration.ts
  packages/test-utils/src/framework.ts
  packages/test-utils/src/types.ts
  pnpm-lock.yaml
Due: apps, packages

feat(testcontainers): Add an opensearch test container Based on the opensource version, but including better support for insecure
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/index.ts
  packages/testcontainers/src/containers/opensearch.ts
  packages/testcontainers/test/opensearch-container.test.ts
  pnpm-lock.yaml
Due: packages

fix(gateway): Fix the gateway opensearch timeout
  apps/gateway/package.json
  packages/test-utils/package.json
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/opensearch.ts
  pnpm-lock.yaml
Due: apps, packages
