Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

refactor(variants): use stable asset paths and retain historical coordinates
  apps/variant-generator/.env.example
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/app.ts
  apps/variant-generator/src/config.ts
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/test/config.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/health.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-cancellation.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
  apps/variant-generator/test/server.integration.test.ts
  apps/variant-generator/test/telemetry.integration.test.ts
Due: apps

refactor(media): resolve logical assets without a descriptor registry
  apps/media/.env.example
  apps/media/src/adapters/catalog/index.ts
  apps/media/src/app.ts
  apps/media/src/config.ts
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/catalog-logical-assets.test.ts
  apps/media/test/health.test.ts
  apps/media/test/integration/event-consumption.test.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/media/test/integration/resize.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

feat(assets): resolve logical assets through stable storage paths
  packages/core/package.json
  packages/core/src/assets/index.ts
  packages/core/test/assets.test.ts
Due: packages

feat(events): add logical asset contracts with retained event compatibility
  packages/events/src/schemas/asset-reference.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-updated.ts
  packages/events/src/schemas/wallpaper-uploaded.ts
  packages/events/src/schemas/wallpaper-variant-uploaded.ts
  packages/events/test/logical-assets.test.ts
Due: packages

docs(adr): avoid numbering collision with main
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  docs/adr/0007-resolve-immutable-assets-through-storage-descriptors.md
  docs/adr/0008-resolve-assets-through-stable-object-layouts.md
Due: apps

test(ingestor): run deployed uploads without descriptor storage
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
  apps/ingestor-e2e/test/upload.e2e.test.ts
Due: apps

test(ingestor): verify deployed logical asset contract
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
  apps/ingestor-e2e/test/upload.e2e.test.ts
Due: apps

fix(color-extractor): honor binary CloudEvent metadata
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/events-translation.test.ts
Due: apps

fix(events): share quarantine planning and preserve replay metadata
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
  apps/media/src/adapters/events/quarantine.ts
  apps/media/test/events-consumer.integration.test.ts
  apps/variant-generator/src/adapters/events/quarantine.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  packages/core/package.json
  packages/core/src/quarantine/index.ts
  packages/core/test/quarantine.test.ts
Due: apps, packages

docs(adr): choose stable asset layouts over a descriptor registry
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  docs/adr/0006-resolve-immutable-assets-through-storage-descriptors.md
  docs/adr/0007-resolve-assets-through-stable-object-layouts.md
Due: apps

refactor(assets): remove obsolete descriptor storage protocol
  packages/core/src/assets/index.ts
  packages/core/test/integration/assets.test.ts
Due: packages

refactor(infra): remove asset descriptor bucket provisioning
  infra/docker-compose.yml
  scripts/test-object-storage.mjs
Due: none

fix(ingestor): publish immutable logical original asset references
  apps/ingestor/src/adapters/events/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/test/adapters/events.test.ts
  apps/ingestor/test/composition.test.ts
Due: apps

fix(testing): invalidate typecheck cache for test changes
  scripts/makefile.test.mjs
  turbo.json
Due: none

fix(web): generate routes before build and typecheck
  apps/web/package.json
  apps/web/scripts/generate-routes.mjs
  pnpm-lock.yaml
  scripts/makefile.test.mjs
Due: apps

test(core): cover malformed immutable asset descriptors
  packages/core/test/integration/assets.test.ts
Due: packages

fix(variant-generator): honor binary CloudEvent metadata
  apps/variant-generator/src/adapters/events/consumer.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/events-translation.test.ts
Due: apps

test(web-e2e): isolate mutable journeys with disposable owners
  apps/web-e2e/src/auth-state.ts
  apps/web-e2e/src/disposable-owner.ts
  apps/web-e2e/test/disposable-owner.test.ts
Due: apps

docs(events): record asset reference ownership and review evidence
  apps/color-extractor/.env.example
  apps/ingestor/.env.example
  apps/media/.env.example
  apps/user/.env.example
  apps/variant-generator/.env.example
  docs/adr/0006-resolve-immutable-assets-through-storage-descriptors.md
  plans/event-contract-review.md
Due: apps

fix(web): align filter and persistent state types with behavior
  apps/web/src/hooks/usePersistentState.ts
  apps/web/src/lib/browse-filters.ts
Due: apps

fix(testing): always execute deployed end-to-end checks
  scripts/makefile.test.mjs
  turbo.json
Due: none

fix(variant-generator): preserve quarantined CloudEvent envelopes
  apps/variant-generator/src/adapters/events/quarantine.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
Due: apps

fix(variant-generator): probe required asset reference storage
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
Due: apps

feat(media): consume logical asset contracts in the running app
  apps/media/src/adapters/events/translation.ts
  apps/media/src/app.ts
  apps/media/src/config.ts
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/events-translation.test.ts
  apps/media/test/integration/event-consumption.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

fix(gateway): preserve and validate binary event identity
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps

refactor(ingestor): publish stable assets without descriptor storage
  apps/ingestor/.env.example
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/src/adapters/events/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/test/adapters/assets-lifecycle.test.ts
  apps/ingestor/test/adapters/assets.test.ts
  apps/ingestor/test/adapters/events.test.ts
  apps/ingestor/test/composition.test.ts
Due: apps

fix(web): typecheck referenced application and test projects
  apps/web/package.json
  scripts/makefile.test.mjs
Due: apps

test(media): provision registry for application health checks
  apps/media/test/health.test.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/media/test/integration/resize.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

fix(gateway): bound color preference work in catalogue searches
  apps/gateway/src/catalogue/colors.ts
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/color-sort.test.ts
Due: apps

fix(color-extractor): bound durable quarantine retention
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
Due: apps

fix(color-extractor): skip images with no visible colors
  apps/color-extractor/CONTEXT.md
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/extraction.test.ts
Due: apps

fix(variant-generator): publish exact new rendition dimensions
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/image/encoder.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/adapters/image/process.ts
  apps/variant-generator/src/adapters/image/storage.ts
  apps/variant-generator/src/generation/index.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/generation.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
Due: apps

fix(media): cancel sibling dependency health work on failure
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

docs: preserve reviewed resolutions after linear rebase
  apps/color-extractor/README.md
  apps/docs/content/docs/guides/service-upgrades.mdx
  apps/media/docs/adr/0001-replay-safe-delivery-catalog.md
  apps/media/swagger.json
  apps/variant-generator/README.md
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/web-e2e/README.md
  packages/core/README.md
  packages/events/README.md
  packages/test-utils/README.md
  plans/event-contract-review.md
Due: apps, packages

test(user): isolate optional publication storage in health fixtures
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/telemetry.integration.test.ts
Due: apps

test(media): deliver replayed variants from historical buckets
  apps/media/test/integration/event-consumption.test.ts
Due: apps

docs(review): serve browser evidence as playable MP4 videos
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/deterministic-profile.mp4
  docs/review-evidence/event-contracts/deterministic-profile.webm
  docs/review-evidence/event-contracts/deterministic-upload.mp4
  docs/review-evidence/event-contracts/deterministic-upload.webm
  docs/review-evidence/event-contracts/deterministic-variant.mp4
  docs/review-evidence/event-contracts/deterministic-variant.webm
Due: none

fix(gateway): retain binary envelopes in quarantine
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/test/nats.test.ts
Due: apps

fix(ingestor): include asset reference storage in health
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/test/adapters/assets.test.ts
Due: apps

test(user): assert conformance through ownership effects
  apps/user/test/event-envelope-conformance.integration.test.ts
Due: apps
