Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

Preserve Make command migration checks after rebase
  apps/docs/content/docs/guides/makefile-commands.mdx
  scripts/ci-runner.test.ts
  scripts/makefile.test.mjs
Due: apps

Preserve SeaweedFS profile integration when flattening merge history
  CONTEXT-MAP.md
  apps/docs/content/docs/infrastructure/docker-compose.mdx
  apps/docs/content/docs/infrastructure/seaweedfs.mdx
  apps/docs/content/docs/services/user.mdx
  apps/media/src/services/profile-picture.service.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/user/.env.example
  apps/user/package.json
  apps/user/test/profile-picture-retention.integration.test.ts
  apps/user/test/profile-pictures.integration.test.ts
  docs/adr/0004-authorize-profile-picture-delivery-at-origin.md
  docs/adr/0005-share-the-profile-markdown-policy.md
  infra/README.md
  pnpm-lock.yaml
  scripts/lib/env-pipeline.test.mjs
  scripts/test-object-storage.mjs
Due: apps

Run CI workspace tests serially to avoid UI test timeouts
  .github/workflows/ci.yml
Due: none

Wait for handle search visibility in biography projection test
  apps/gateway/test/profile.test.ts
Due: apps

test(gateway): adopt Effect Vitest integration
  apps/docs/content/docs/architecture/decisions/gateway-effect.mdx
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/docs/test-performance.md
  apps/gateway/package.json
  apps/gateway/test/cursor.service.test.ts
  apps/gateway/test/nats.test.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/server.test.ts
  apps/gateway/test/unit/admission.test.ts
  apps/gateway/test/unit/availability-adapter.test.ts
  apps/gateway/test/unit/availability.test.ts
  apps/gateway/test/unit/otel.test.ts
  apps/gateway/vitest.config.ts
  packages/vitest-config/README.md
  packages/vitest-config/package.json
  packages/vitest-config/src/defaults.ts
  packages/vitest-config/src/index.ts
  plans/gateway-effect-migration.md
  pnpm-lock.yaml
Due: apps, packages

docs: organize coding guidelines and adopt backend Effect standards
  .agents/skills/create-service/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/review/SKILL.md
  .agents/skills/testing/SKILL.md
  .sandcastle/README.md
  .sandcastle/WORKFLOW.md
  .sandcastle/implement-prompt.md
  .sandcastle/review-prompt.md
  AGENTS.md
  CODING_STANDARDS.md
  CONTRIBUTING.md
  apps/docs/README.md
  apps/docs/content/docs/development-guidelines.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/guides/creating-new-service.mdx
  apps/docs/content/docs/guides/error-handling.mdx
  apps/docs/content/docs/guides/testing-strategies.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/infrastructure/local-setup.mdx
  docs/coding-standards/adapters.md
  docs/coding-standards/application-and-domain.md
  docs/coding-standards/composition-and-operations.md
  docs/coding-standards/distributed-interactions.md
  docs/coding-standards/maintaining-guidelines.md
  docs/coding-standards/project-organization.md
Due: apps

fix(gateway): align projection dashboards with delivery metrics
  infra/grafana/dashboards/gateway-overview.json
Due: none

fix(gateway): restore concurrent projection delivery across replicas
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/test/nats.test.ts
Due: apps

docs(gateway): clarify failed health response compatibility
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/test/health.test.ts
Due: apps

fix(gateway): distinguish quota enforcement bypass reasons
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/src/adapters/redis/index.ts
  apps/gateway/test/redis.test.ts
  infra/grafana/provisioning/alerting/alerting.yaml
Due: apps

docs: keep metric consumers aligned with instrumentation changes
  docs/coding-standards/composition-and-operations.md
Due: none

refactor(gateway): return catalogue read values directly
  apps/gateway/src/adapters/opensearch/index.ts
  apps/gateway/src/catalogue/index.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/helpers/catalogue.ts
  apps/gateway/test/http-lifecycle.test.ts
  apps/gateway/test/integration.test.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/profile.test.ts
  apps/gateway/test/unit/http-fixture.ts
Due: apps

refactor(gateway): simplify traced catalogue forwarding
  apps/gateway/src/catalogue/index.ts
Due: apps

docs: scope serialization and research NATS guideline proposals
  docs/coding-standards/distributed-interactions.md
  docs/research/nats-guideline-proposals.md
Due: none

docs: add source-backed NATS and JetStream guidelines
  CODING_STANDARDS.md
  apps/docs/content/docs/infrastructure/nats.mdx
  docs/coding-standards/adapters.md
  docs/coding-standards/distributed-interactions.md
  docs/coding-standards/nats.md
  docs/research/nats-guideline-proposals.md
Due: apps

fix(gateway): bound catalogue page sizes
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/catalogue.test.ts
Due: apps

fix(gateway): distinguish quarantined broker occurrences
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/test/nats.test.ts
Due: apps

fix(gateway): retain quota response diagnostics
  apps/gateway/src/adapters/redis/index.ts
  apps/gateway/test/redis.test.ts
Due: apps

fix(gateway): price resolved GraphQL pagination
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/http/index.ts
  apps/gateway/src/http/security.ts
  apps/gateway/test/graphql-security.test.ts
Due: apps

test(gateway): honor controlled cursor expiry
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/cursor.service.test.ts
  apps/gateway/test/helpers/catalogue.ts
Due: apps

fix(gateway): reserve capacity for durable quarantine
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/message-budget.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/nats.test.ts
  infra/nats/init/README.md
  infra/nats/init/setup-streams.sh
Due: apps

fix(gateway): isolate quota command cancellation
  apps/gateway/src/adapters/redis/index.ts
  apps/gateway/test/redis.test.ts
Due: apps

fix(gateway): normalize CloudEvent occurrence timestamps
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps

fix(gateway): cancel dependency startup with its owner
  apps/gateway/src/app.ts
  apps/gateway/src/http/index.ts
  apps/gateway/src/server.ts
  apps/gateway/test/http-lifecycle.test.ts
  apps/gateway/test/server.test.ts
Due: apps

fix(gateway): audit original message headers
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/message-budget.ts
  apps/gateway/test/nats.test.ts
Due: apps

docs: add authoritative coding standards
  CODING_STANDARDS.md
Due: none

docs: clarify GraphQL error response standards
  CODING_STANDARDS.md
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
  docs/research/event-driven-hexagonal-architecture.md
  docs/research/event-ordering.md
Due: none

docs: limit standards PR to standards and supporting research
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
Due: none

docs: retire superseded coding guidelines
  .agents/skills/create-service/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/review/SKILL.md
  .agents/skills/testing/SKILL.md
  .sandcastle/README.md
  .sandcastle/WORKFLOW.md
  .sandcastle/implement-prompt.md
  .sandcastle/review-prompt.md
  AGENTS.md
  CONTRIBUTING.md
  apps/docs/README.md
  apps/docs/content/docs/development-guidelines.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/guides/creating-new-service.mdx
  apps/docs/content/docs/guides/error-handling.mdx
  apps/docs/content/docs/guides/index.mdx
  apps/docs/content/docs/guides/testing-strategies.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/infrastructure/local-setup.mdx
Due: apps

test(gateway): clarify contracts and verify forwarded headers
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/unit/admission.test.ts
Due: apps

fix(gateway): bound GraphQL fragment execution costs
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/http/index.ts
  apps/gateway/src/http/security.ts
  apps/gateway/test/graphql-security.test.ts
Due: apps

fix(gateway): preserve normal browse admission
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/.env.example
  apps/gateway/src/config.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/unit/config.test.ts
  apps/gateway/test/unit/http-fixture.ts
Due: apps
