Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

feat(sandcastle): generate descriptive commits and pull requests
  .sandcastle/README.md
  .sandcastle/github.ts
  .sandcastle/helpers.test.ts
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
  Makefile
  package.json
Due: none

fix: handle short collisions and test production wiring
  apps/user/src/config.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/config.test.ts
  apps/user/test/profile.integration.test.ts
  apps/web/test/App.test.tsx
Due: apps

test: remove brittle NATS startup timing assertion
  packages/testcontainers/test/nats-container.test.ts
Due: packages

fix(test-utils): wait for MinIO readiness
  packages/test-utils/src/builders/MinioTesterBuilder.ts
Due: packages

RALPH: finalize signed-in Profiles for #164 (PRD #39)
  apps/docs/content/docs/services/user.mdx
  apps/user/README.md
  apps/user/drizzle/0001_wild_carnage.sql
  apps/user/drizzle/meta/0001_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/src/db/schema.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  apps/web/src/lib/api/user.ts
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/lib/api/user.test.ts
  packages/events/README.md
  packages/events/src/schemas/profile-created.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

RALPH: complete signed-in Profiles for #164 (PRD #39)
  apps/docs/content/docs/services/user.mdx
  apps/user/README.md
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  packages/events/README.md
  scripts/setup-worktree.mjs
Due: apps, packages

RALPH: create signed-in Profiles for #164 (PRD #39)
  apps/user/.env.example
  apps/user/drizzle/0000_parallel_shocker.sql
  apps/user/drizzle/meta/0000_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/package.json
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/src/db/schema.ts
  apps/user/src/routes/index.ts
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/clerk-identity.service.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  apps/web/.env.example
  apps/web/src/App.tsx
  apps/web/src/components/profile-bootstrap.tsx
  apps/web/src/lib/api/user.ts
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/lib/api/user.test.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-created.ts
  packages/events/test/schemas.test.ts
  pnpm-lock.yaml
Due: apps, packages

RALPH: finish signed-in Profiles for #164 (PRD #39)
  apps/user/src/services/clerk-identity.service.ts
  apps/user/test/clerk-identity.service.test.ts
  apps/web/test/components/profile-bootstrap.test.tsx
Due: apps

RALPH: Review - fix Profile service injection
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat: add public profile reads
  apps/docs/content/docs/architecture/service-registry.mdx
  apps/gateway/README.md
  apps/gateway/src/app.ts
  apps/gateway/src/consumers/profile-created.consumer.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
  apps/gateway/src/opensearch/index-definitions.ts
  apps/gateway/src/opensearch/mappings.ts
  apps/gateway/src/repositories/profile.repository.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/profile.test.ts
  apps/gateway/test/setup.ts
  apps/user/src/app.ts
  apps/user/src/services/profile-outbox-publisher.service.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  apps/web/src/components/profile/profile-not-found-page.tsx
  apps/web/src/components/profile/public-profile-page.tsx
  apps/web/src/lib/graphql/profiles.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/src/lib/profile-query-options.ts
  apps/web/src/lib/profile-route-loaders.ts
  apps/web/src/routes/profiles.$handle.tsx
  apps/web/src/routes/profiles.@{$handle}.tsx
  apps/web/src/routes/profiles.id.$profileId.tsx
  apps/web/test/components/profile/public-profile-page.test.tsx
  apps/web/test/lib/graphql/profiles.test.ts
  apps/web/test/routes/profile-route-loaders.test.ts
  infra/nats/init/README.md
  infra/nats/init/setup-streams.sh
  packages/events/src/publisher/base-event-publisher.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-created.ts
  packages/events/test/publisher/base-event-publisher.test.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

feat: add safe profile display-name editing
  apps/docs/content/docs/packages/events.mdx
  apps/docs/content/docs/services/user.mdx
  apps/gateway/src/app.ts
  apps/gateway/src/consumers/profile-updated.consumer.ts
  apps/gateway/test/profile.test.ts
  apps/user/.env.example
  apps/user/README.md
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/src/db/schema.ts
  apps/user/src/http/cors.ts
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/profile-outbox-publisher.service.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/config.test.ts
  apps/user/test/cors.test.ts
  apps/user/test/profile.integration.test.ts
  apps/web/.env.example
  apps/web/src/components/profile/profile-settings-page.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/api/user.ts
  apps/web/src/lib/runtime-config.ts
  apps/web/src/routes/settings.profile.tsx
  apps/web/test/components/profile/profile-settings-page.test.tsx
  apps/web/test/components/user-menu.test.tsx
  apps/web/test/lib/api/user.test.ts
  apps/web/test/lib/runtime-config.test.ts
  packages/events/README.md
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-updated.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

feat(gateway): show wallpaper contributors
  Makefile
  apps/docs/content/docs/architecture/service-registry.mdx
  apps/gateway/README.md
  apps/gateway/src/app.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
  apps/gateway/src/repositories/profile.repository.ts
  apps/gateway/src/services/query-complexity.service.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/profile.test.ts
  apps/web/README.md
  apps/web/src/components/grid/types.ts
  apps/web/src/components/grid/utils.ts
  apps/web/src/components/profile/profile-picture.tsx
  apps/web/src/components/profile/public-profile-page.tsx
  apps/web/src/components/wallpaper-detail/WallpaperMetadata.tsx
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/test/App.test.tsx
  apps/web/test/components/grid/WallpaperCard.test.tsx
  apps/web/test/components/profile/public-profile-page.test.tsx
  apps/web/test/components/wallpaper-detail/WallpaperMetadata.test.tsx
  apps/web/test/routes/index.test.tsx
Due: apps

test(web): stabilize auth form tests
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
Due: apps

docs: add authoritative coding standards
  CODING_STANDARDS.md
Due: none

docs: clarify GraphQL error response standards
  CODING_STANDARDS.md
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
  docs/research/event-driven-hexagonal-architecture.md
  docs/research/event-ordering.md
Due: none

docs: limit standards PR to standards and supporting research
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
Due: none

docs: retire superseded coding guidelines
  .agents/skills/create-service/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/review/SKILL.md
  .agents/skills/testing/SKILL.md
  .sandcastle/README.md
  .sandcastle/WORKFLOW.md
  .sandcastle/implement-prompt.md
  .sandcastle/review-prompt.md
  AGENTS.md
  CONTRIBUTING.md
  apps/docs/README.md
  apps/docs/content/docs/development-guidelines.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/guides/creating-new-service.mdx
  apps/docs/content/docs/guides/error-handling.mdx
  apps/docs/content/docs/guides/index.mdx
  apps/docs/content/docs/guides/makefile-commands.mdx
  apps/docs/content/docs/guides/testing-strategies.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/infrastructure/local-setup.mdx
Due: apps

test(web): complete auth form test stabilization
  Makefile
  apps/web/test/README.md
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
Due: apps

test: verify NATS container readiness without timing assumptions
  Makefile
  packages/testcontainers/README.md
  packages/testcontainers/test/nats-container.test.ts
Due: packages

Add local CRAP score reporting and threshold checks
  Makefile
  apps/docs/content/docs/guides/crap-scores.mdx
  apps/docs/content/docs/guides/index.mdx
  apps/docs/content/docs/guides/makefile-commands.mdx
  apps/gateway/vitest.config.ts
  apps/ingestor/vitest.config.ts
  apps/media/vitest.config.ts
  apps/tags/vitest.config.ts
  apps/user/vitest.config.ts
  apps/variant-generator/vitest.config.ts
  apps/web/vitest.config.ts
  crap.config.mjs
  package.json
  packages/auth/package.json
  packages/auth/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.integration.ts
  packages/core/vitest.config.ts
  packages/events/vitest.config.ts
  packages/react-muuri/vitest.config.ts
  packages/url-ipv4-resolver/vitest.config.ts
  pnpm-lock.yaml
  scripts/crap.mjs
  turbo.json
Due: apps, packages

test(web): remove temporary auth test tooling
  Makefile
  apps/web/test/README.md
Due: apps

test: remove NATS test documentation and make target
  Makefile
  packages/testcontainers/README.md
Due: packages

Type check CRAP tooling as TypeScript modules
  Makefile
  apps/docs/content/docs/guides/crap-scores.mdx
  apps/docs/content/docs/guides/makefile-commands.mdx
  crap.config.mts
  package.json
  pnpm-lock.yaml
  scripts/crap.mts
  scripts/tsconfig.crap.json
Due: apps
