Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

refactor(core): Extract NATS, Redis, and OpenSearch connections to shared package
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/src/connections/nats.ts
  apps/gateway/src/connections/opensearch.ts
  apps/gateway/src/consumers/wallpaper-uploaded.consumer.ts
  apps/gateway/src/consumers/wallpaper-variant-available.consumer.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/services/health.service.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/ingestor/Dockerfile
  apps/ingestor/src/app.ts
  apps/ingestor/src/connections/nats.ts
  apps/ingestor/src/connections/redis.ts
  apps/ingestor/src/services/events.service.ts
  apps/ingestor/src/services/health.service.ts
  apps/ingestor/src/services/rate-limit.service.ts
  apps/media/src/app.ts
  apps/media/src/connections/nats.ts
  apps/media/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/media/src/services/events.service.ts
  apps/media/src/services/health.service.ts
  apps/media/swagger.json
  packages/core/package.json
  packages/core/src/config/index.ts
  packages/core/src/config/schemas/index.ts
  packages/core/src/config/schemas/opensearch.schema.ts
  packages/core/src/connections/index.ts
  packages/core/src/connections/nats-connection.ts
  packages/core/src/connections/opensearch-connection.ts
  packages/core/src/connections/opensearch.ts
  packages/core/src/connections/redis-connection.ts
  packages/core/src/connections/types.ts
  pnpm-lock.yaml
Due: apps, packages

docs(claude): Update commit command to use Task tool
  .claude/commands/commit.md
Due: none

chore: format
  apps/media/swagger.json
Due: apps

chore: Remove unused sql files
  apps/media/0002_clammy_bug.sql
  apps/media/0002_snapshot.json
Due: apps

chore: Remove unused prettier ignore file
  .prettierignore
Due: none

fix: Add MEDIA_SERVICE_URL to standard in-process configuration
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
Due: apps

fix: The test needs to account for the automatic setup of the service url
  apps/gateway/test/integration/graphql.test.ts
Due: apps

refactor(core): Extract DatabaseConnection to shared package
  CLAUDE.md
  apps/ingestor/src/connections/database.ts
  apps/media/src/connections/database.ts
  apps/media/swagger.json
  packages/core/package.json
  packages/core/src/connections/database-connection.ts
  packages/core/src/connections/index.ts
  packages/core/test/integration/connections/database-connection.test.ts
  pnpm-lock.yaml
Due: apps, packages

fix: gateway shared setup and test cleanup
  apps/gateway/test/event-consumers.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/health.test.ts
  apps/gateway/test/integration/health.test.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/setup.ts
  apps/gateway/vitest.config.ts
Due: apps

fix: Run gateway tests in series
  apps/gateway/test/setup.ts
  apps/gateway/vitest.config.ts
Due: apps

fix: Increase the hook timeout
  apps/gateway/vitest.config.ts
Due: apps

fix: oops, had an override on the hook itself
  apps/gateway/test/setup.ts
Due: apps

docs: Create plans for a frontend
  plans/done/gateway-service.md
  plans/frontend-overview.md
  plans/frontend-phase-1-project-setup.md
  plans/frontend-phase-2-core-infrastructure.md
  plans/frontend-phase-3-routes-components.md
  plans/frontend-phase-4-environment-config.md
Due: none

feat(web): Phase 1 project setup complete
  Makefile
  apps/web/biome.json
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
  plans/frontend-overview.md
  plans/frontend-phase-1-project-setup.md
  pnpm-lock.yaml
Due: apps

feat(web): Complete frontend implementation (phases 2-4)
  .gitignore
  apps/web/.env.example
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/upload.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.node.json
  pnpm-lock.yaml
Due: apps

style(web): Improve code quality and update Tailwind v4 syntax
  apps/web/biome.json
  apps/web/src/index.css
  apps/web/src/main.tsx
Due: apps

feat(web): Add infinite scroll pagination for wallpaper grid
  apps/ingestor/src/routes/upload.routes.ts
  apps/ingestor/test/helpers.ts
  apps/ingestor/test/validation.test.ts
  apps/web/src/components/LoadMoreTrigger.tsx
  apps/web/src/components/WallpaperGrid.tsx
  apps/web/src/hooks/useIntersectionObserver.ts
  apps/web/src/hooks/useWallpaperInfiniteQuery.ts
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/routes/index.tsx
  apps/web/src/routes/upload.tsx
Due: apps

feat(web): Add abstract grid system for wallpaper display
  apps/web/package.json
  apps/web/src/components/WallpaperGrid.tsx
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/grid/index.ts
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
  apps/web/src/components/grid/strategies/index.ts
  apps/web/src/components/grid/types.ts
  apps/web/src/components/grid/utils.ts
Due: apps

docs: Create a plan for creating a react-muuri package
  plans/react-muuri.md
Due: none

feat(react-muuri): Add package setup (Phase 1)
  Makefile
  packages/react-muuri/.storybook/main.ts
  packages/react-muuri/.storybook/preview.ts
  packages/react-muuri/biome.json
  packages/react-muuri/package.json
  packages/react-muuri/src/hooks/index.ts
  packages/react-muuri/src/index.ts
  packages/react-muuri/src/types/index.ts
  packages/react-muuri/tsconfig.json
  packages/react-muuri/vitest.config.ts
  pnpm-lock.yaml
Due: packages

feat(react-muuri): Add core components and contexts (Phase 2)
  packages/react-muuri/biome.json
  packages/react-muuri/package.json
  packages/react-muuri/src/MuuriGrid.tsx
  packages/react-muuri/src/MuuriItem.tsx
  packages/react-muuri/src/context/ItemContext.tsx
  packages/react-muuri/src/context/MuuriContext.tsx
  packages/react-muuri/src/index.ts
  packages/react-muuri/stories/MuuriGrid.stories.tsx
  packages/react-muuri/test/MuuriGrid.test.tsx
  packages/react-muuri/test/MuuriItem.test.tsx
  packages/react-muuri/test/context/ItemContext.test.tsx
  packages/react-muuri/test/context/MuuriContext.test.tsx
  packages/react-muuri/test/setup.ts
  packages/react-muuri/vitest.config.ts
  plans/react-muuri.md
  pnpm-lock.yaml
Due: packages

feat(react-muuri): Add hooks, utilities, tests and docs (Phases 3-5)
  packages/react-muuri/README.md
  packages/react-muuri/biome.json
  packages/react-muuri/src/MuuriItem.tsx
  packages/react-muuri/src/context/MuuriContext.tsx
  packages/react-muuri/src/hooks/index.ts
  packages/react-muuri/src/hooks/useDrag.ts
  packages/react-muuri/src/hooks/useFilter.ts
  packages/react-muuri/src/hooks/useGrid.ts
  packages/react-muuri/src/hooks/useItem.ts
  packages/react-muuri/src/hooks/useLayout.ts
  packages/react-muuri/src/hooks/useRefresh.ts
  packages/react-muuri/src/hooks/useSort.ts
  packages/react-muuri/src/index.ts
  packages/react-muuri/src/types/index.ts
  packages/react-muuri/src/utils/event-bridge.ts
  packages/react-muuri/stories/DragAndDrop.stories.tsx
  packages/react-muuri/stories/Filtering.stories.tsx
  packages/react-muuri/stories/MuuriGrid.stories.tsx
  packages/react-muuri/stories/Sorting.stories.tsx
  packages/react-muuri/test/hooks/useDrag.test.tsx
  packages/react-muuri/test/hooks/useFilter.test.tsx
  packages/react-muuri/test/hooks/useGrid.test.tsx
  packages/react-muuri/test/hooks/useItem.test.tsx
  packages/react-muuri/test/hooks/useLayout.test.tsx
  packages/react-muuri/test/hooks/useRefresh.test.tsx
  packages/react-muuri/test/hooks/useSort.test.tsx
  packages/react-muuri/test/integration/drag-drop.test.tsx
  packages/react-muuri/test/utils/event-bridge.test.ts
  plans/react-muuri.md
Due: packages

fix(react-muuri): Fix drag/remove bugs, use official Muuri types
  packages/react-muuri/src/MuuriGrid.tsx
  packages/react-muuri/src/context/MuuriContext.tsx
  packages/react-muuri/src/hooks/useGrid.ts
  packages/react-muuri/src/hooks/useSort.ts
  packages/react-muuri/src/index.ts
  packages/react-muuri/src/types/index.ts
  packages/react-muuri/stories/Filtering.stories.tsx
  packages/react-muuri/stories/Sorting.stories.tsx
  packages/react-muuri/test/hooks/useFilter.test.tsx
  packages/react-muuri/test/hooks/useSort.test.tsx
  packages/react-muuri/test/integration/drag-drop.test.tsx
  packages/react-muuri/test/integration/dynamic-items.test.tsx
  packages/react-muuri/test/utils/event-bridge.test.ts
Due: packages

feat(react-muuri): Expand stories with more items for better grid evaluation
  packages/react-muuri/stories/DragAndDrop.stories.tsx
  packages/react-muuri/stories/Filtering.stories.tsx
  packages/react-muuri/stories/MuuriGrid.stories.tsx
  packages/react-muuri/stories/Sorting.stories.tsx
Due: packages

feat(web): Integrate react-muuri for animated grid layout
  apps/web/package.json
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
  apps/web/src/routes/__root.tsx
  pnpm-lock.yaml
Due: apps

chore(media): Add environment configuration example
  apps/media/.env.example
Due: apps

feat(web): Improve grid expansion sizing and centering
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
  apps/web/src/components/grid/utils.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
Due: apps

chore: Backup the web project
  apps/web-backup/.env.example
  apps/web-backup/biome.json
  apps/web-backup/index.html
  apps/web-backup/package.json
  apps/web-backup/postcss.config.mjs
  apps/web-backup/src/App.tsx
  apps/web-backup/src/components/LoadMoreTrigger.tsx
  apps/web-backup/src/components/WallpaperGrid.tsx
  apps/web-backup/src/components/grid/WallpaperCard.tsx
  apps/web-backup/src/components/grid/index.ts
  apps/web-backup/src/components/grid/strategies/MuuriGrid.tsx
  apps/web-backup/src/components/grid/strategies/index.ts
  apps/web-backup/src/components/grid/types.ts
  apps/web-backup/src/components/grid/utils.ts
  apps/web-backup/src/hooks/useIntersectionObserver.ts
  apps/web-backup/src/hooks/useWallpaperInfiniteQuery.ts
  apps/web-backup/src/index.css
  apps/web-backup/src/lib/api/ingestor.ts
  apps/web-backup/src/lib/graphql/client.ts
  apps/web-backup/src/lib/graphql/queries.ts
  apps/web-backup/src/lib/graphql/types.ts
  apps/web-backup/src/main.tsx
  apps/web-backup/src/routes/__root.tsx
  apps/web-backup/src/routes/index.tsx
  apps/web-backup/src/routes/upload.tsx
  apps/web-backup/src/vite-env.d.ts
  apps/web-backup/tailwind.config.ts
  apps/web-backup/tsconfig.json
  apps/web-backup/tsconfig.node.json
  apps/web-backup/vite.config.ts
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Due: apps

feat(web): Scaffold shadcn/ui project with Vite and React
  apps/web/.gitignore
  apps/web/README.md
  apps/web/components.json
  apps/web/eslint.config.js
  apps/web/index.html
  apps/web/package.json
  apps/web/public/vite.svg
  apps/web/src/App.tsx
  apps/web/src/assets/react.svg
  apps/web/src/components/component-example.tsx
  apps/web/src/components/example.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/combobox.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input-group.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/index.css
  apps/web/src/lib/utils.ts
  apps/web/src/main.tsx
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Due: apps

feat(web): Migrate existing features to shadcn/ui app
  apps/web/biome.json
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/LoadMoreTrigger.tsx
  apps/web/src/components/WallpaperGrid.tsx
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/grid/index.ts
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
  apps/web/src/components/grid/strategies/index.ts
  apps/web/src/components/grid/types.ts
  apps/web/src/components/grid/utils.ts
  apps/web/src/hooks/useIntersectionObserver.ts
  apps/web/src/hooks/useWallpaperInfiniteQuery.ts
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/upload.tsx
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: apps

chore(web): Remove web-backup directory
  apps/web-backup/.env.example
  apps/web-backup/biome.json
  apps/web-backup/index.html
  apps/web-backup/package.json
  apps/web-backup/postcss.config.mjs
  apps/web-backup/src/App.tsx
  apps/web-backup/src/components/LoadMoreTrigger.tsx
  apps/web-backup/src/components/WallpaperGrid.tsx
  apps/web-backup/src/components/grid/WallpaperCard.tsx
  apps/web-backup/src/components/grid/index.ts
  apps/web-backup/src/components/grid/strategies/MuuriGrid.tsx
  apps/web-backup/src/components/grid/strategies/index.ts
  apps/web-backup/src/components/grid/types.ts
  apps/web-backup/src/components/grid/utils.ts
  apps/web-backup/src/hooks/useIntersectionObserver.ts
  apps/web-backup/src/hooks/useWallpaperInfiniteQuery.ts
  apps/web-backup/src/index.css
  apps/web-backup/src/lib/api/ingestor.ts
  apps/web-backup/src/lib/graphql/client.ts
  apps/web-backup/src/lib/graphql/queries.ts
  apps/web-backup/src/lib/graphql/types.ts
  apps/web-backup/src/main.tsx
  apps/web-backup/src/routes/__root.tsx
  apps/web-backup/src/routes/index.tsx
  apps/web-backup/src/routes/upload.tsx
  apps/web-backup/src/vite-env.d.ts
  apps/web-backup/tailwind.config.ts
  apps/web-backup/tsconfig.json
  apps/web-backup/tsconfig.node.json
  apps/web-backup/vite.config.ts
Due: apps

fix(web): platform-aware keyboard shortcut in search bar
  apps/web/src/components/search-bar.tsx
  apps/web/src/components/ui/kbd.tsx
Due: apps

feat(web): add sidebar navigation with shadcn/ui components
  apps/web/package.json
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/routes/__root.tsx
  pnpm-lock.yaml
Due: apps

chore(mcp): add shadcn MCP server configuration
  .mcp.json
Due: none

feat(web): add overlay sidebar with backdrop and click-outside close
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/routes/__root.tsx
Due: apps

feat(web): add multi-file upload with queue management
  Makefile
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/src/components/upload/upload-queue-toast-manager.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/contexts/upload-queue-context.tsx
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
  apps/web/test/contexts/upload-queue-reducer.test.ts
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/setup.ts
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  plans/multi-file-upload.md
  pnpm-lock.yaml
Due: apps

style(web): increase wallpaper grid base size to 375px
  apps/web/src/components/WallpaperGrid.tsx
Due: apps

fix(web): correct MuuriGrid multi-column width and margins
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
Due: apps

fix(web): prevent infinite loading loop in wallpaper grid
  apps/web/src/App.tsx
  apps/web/src/components/grid/strategies/MuuriGrid.tsx
  apps/web/src/hooks/useIntersectionObserver.ts
  apps/web/test/hooks/useIntersectionObserver.test.tsx
  apps/web/test/setup.ts
Due: apps

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
