Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

feat(api,auth): add Clerk OAuth security scheme, remove hardcoded x-user-id
  apps/ingestor/.env.example
  apps/ingestor/package.json
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/src/gen_swagger.ts
  packages/auth/src/index.ts
  packages/auth/test/security-scheme.test.ts
  packages/core/src/openapi/index.ts
  packages/core/src/openapi/plugin.ts
  packages/core/test/openapi.test.ts
  pnpm-lock.yaml
  scripts/setup-worktree.mjs
Due: apps, packages

feat(auth): implement auth service layer with Clerk and mock backends
  packages/auth/package.json
  packages/auth/src/clerk-auth-service.ts
  packages/auth/src/i-auth-service.ts
  packages/auth/src/index.ts
  packages/auth/src/mock-auth-service.ts
  packages/auth/src/register-auth.ts
  packages/auth/test/clerk-auth-service.test.ts
  packages/auth/test/mock-auth-service.test.ts
  packages/auth/test/register-auth.test.ts
  pnpm-lock.yaml
Due: packages

feat(api,ingestor): wire registerAuth into ingestor service
  apps/ingestor/.env.example
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/src/routes/health.routes.ts
  apps/ingestor/src/routes/upload.routes.ts
  apps/ingestor/test/auth.test.ts
  apps/ingestor/test/builders/InProcessIngestorBuilder.ts
  apps/media/swagger.json
Due: apps

feat(ingestor,web,auth): enforce auth on upload, switch to IAuthService/User
  apps/ingestor-e2e/test/rate-limiting-distributed.e2e.test.ts
  apps/ingestor-e2e/test/upload.e2e.test.ts
  apps/ingestor/src/config.ts
  apps/ingestor/src/errors/problem-details.ts
  apps/ingestor/src/routes/schemas/upload.schema.ts
  apps/ingestor/src/routes/upload.routes.ts
  apps/ingestor/src/services/rate-limit.service.ts
  apps/ingestor/src/services/upload/upload-orchestrator.service.ts
  apps/ingestor/src/services/validation-limits.service.ts
  apps/ingestor/test/auth.test.ts
  apps/ingestor/test/helpers.ts
  apps/ingestor/test/rate-limiting-distributed.test.ts
  apps/ingestor/test/rate-limiting.test.ts
  apps/ingestor/test/validation.test.ts
  apps/media/swagger.json
  apps/web/src/App.tsx
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/auth/clerk-errors.ts
  apps/web/src/routes/sign-in.tsx
  apps/web/src/routes/sign-up.tsx
  apps/web/src/routes/sso-callback.tsx
  apps/web/src/routes/upload.tsx
  packages/auth/src/register-auth.ts
Due: apps, packages

fix(auth,ingestor): correct testMode gate, auth hook phase, add OTEL span event
  apps/ingestor/.env.example
  apps/ingestor/src/app.ts
  packages/auth/package.json
  packages/auth/src/register-auth.ts
  pnpm-lock.yaml
Due: apps, packages

feat(auth): scaffold @wallpaperdb/auth package for backend auth
  packages/auth/biome.json
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/test/user.test.ts
  packages/auth/tsconfig.json
  packages/auth/vitest.config.ts
  pnpm-lock.yaml
Due: packages

Add user service scaffold
  .agents/skills/create-service/SKILL.md
  Makefile
  api/environments/local.bru.example
  api/user/health/health-check.bru
  api/user/health/readiness-check.bru
  apps/docs/content/docs/services/index.mdx
  apps/docs/content/docs/services/user.mdx
  apps/user/.env.example
  apps/user/.gitignore
  apps/user/Dockerfile
  apps/user/Dockerfile.dev
  apps/user/README.md
  apps/user/biome.json
  apps/user/drizzle.config.ts
  apps/user/esbuild.config.ts
  apps/user/package.json
  apps/user/scripts/migrate.ts
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/src/connections/database.ts
  apps/user/src/connections/nats.ts
  apps/user/src/db/schema.ts
  apps/user/src/gen_swagger.ts
  apps/user/src/index.ts
  apps/user/src/otel-init.ts
  apps/user/src/routes/health.routes.ts
  apps/user/src/routes/index.ts
  apps/user/src/services/health.service.ts
  apps/user/test/health.test.ts
  apps/user/tsconfig.json
  apps/user/vitest.config.ts
  infra/caddy/Caddyfile
  infra/docker-compose.apps.yml
  pnpm-lock.yaml
  scripts/lib/env-pipeline.mjs
  scripts/setup-worktree.mjs
Due: apps

Add HSV color embedding strategy for histogram computation
  apps/color-extractor/src/services/hsv-embedding-strategy.ts
  apps/color-extractor/test/hsv-embedding-strategy.test.ts
Due: apps

Remove test:unit script from user service
  apps/user/package.json
Due: apps

Add event-driven color extraction pipeline to color-extractor service
  apps/color-extractor/package.json
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/services/color-extraction-processor.ts
  apps/color-extractor/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/color-extractor/src/services/events.service.ts
  apps/color-extractor/src/services/hsv-embedding-strategy.ts
  apps/color-extractor/src/services/minio-histogram-provider.ts
  apps/color-extractor/src/services/publishers/wallpaper-colors-extracted.publisher.ts
  apps/color-extractor/test/color-extraction-pipeline.test.ts
  apps/color-extractor/test/hsv-embedding-strategy.test.ts
  apps/color-extractor/test/minio-histogram-provider.test.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/wallpaper-colors-extracted.ts
  packages/events/test/schemas.test.ts
  pnpm-lock.yaml
Due: apps, packages

Fix consumer options and image generation in color-extractor tests
  apps/color-extractor/test/color-extraction-pipeline.test.ts
  apps/color-extractor/test/minio-histogram-provider.test.ts
Due: apps

Add color sort service with OkLab query vector tests
  apps/gateway/src/services/color-sort.service.ts
  apps/gateway/test/color-sort.test.ts
  apps/gateway/test/setup.ts
  apps/user/src/db/schema.ts
Due: apps

Use search_after cursors for GraphQL wallpaper pagination
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/services/cursor.service.ts
  apps/gateway/test/cursor.service.test.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

Use atomic OpenSearch updates when adding wallpaper variants
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/test/opensearch.test.ts
  apps/user/src/db/schema.ts
Due: apps

Use atomic OpenSearch updates when adding wallpaper variants
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

Index extracted wallpaper colors in gateway
  apps/gateway/src/app.ts
  apps/gateway/src/consumers/wallpaper-colors-extracted.consumer.ts
  apps/gateway/src/opensearch/mappings.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/event-consumers.test.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

Preserve GraphQL headers when adding auth token
  apps/web/src/lib/graphql/client.ts
  apps/web/test/lib/graphql/client.test.ts
Due: apps

Add color sorting to GraphQL wallpaper search
  apps/gateway/.env.example
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
  apps/gateway/src/repositories/wallpaper.repository.ts
  apps/gateway/test/graphql.test.ts
  apps/media/swagger.json
Due: apps

Include color filter in the bruno collection
  api/gateway/graphql/search-wallpapers.bru
Due: none

Add browse page format filters
  apps/web/src/components/browse-filter-panel-context.tsx
  apps/web/src/components/search-bar.tsx
  apps/web/src/lib/browse-filters.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/test/components/search-bar.test.tsx
  apps/web/test/lib/browse-filters.test.ts
  apps/web/test/routes/index.test.tsx
Due: apps

Add aspect ratio filters to wallpaper browsing
  apps/web/src/lib/browse-filters.ts
  apps/web/src/routes/index.tsx
  apps/web/test/lib/browse-filters.test.ts
  apps/web/test/routes/index.test.tsx
Due: apps

Add color-based wallpaper sorting to browse filters
  apps/web/src/hooks/useWallpaperInfiniteQuery.ts
  apps/web/src/lib/browse-filters.ts
  apps/web/src/lib/graphql/queries.ts
  apps/web/src/lib/graphql/types.ts
  apps/web/src/routes/index.tsx
  apps/web/test/lib/browse-filters.test.ts
  apps/web/test/routes/index.test.tsx
Due: apps

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
