Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

fix(web): keep Biography retry budgets during unchanged owner polling
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(user): save authored Biography Markdown with versioned snapshots
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
Due: apps

style(nats): format stream setup regression tests
  infra/nats/init/setup-streams.test.ts
Due: none

test(web): keep Biography link warnings open across rerenders
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(web): render verified own-Wallpaper Biography embeds
  apps/web/src/components/profile/biography-wallpaper.tsx
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(user): validate Biography embeds against published Wallpaper ownership
  apps/user/drizzle/0008_reflective_harpoon.sql
  apps/user/drizzle/meta/0008_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/src/app.ts
  apps/user/src/db/schema.ts
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/consumers/wallpaper-ownership.consumer.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat(web): send authored Biography commands through the User API
  apps/web/src/lib/api/user.ts
  apps/web/test/lib/api/user.test.ts
Due: apps

fix(web): preserve Biography embeds across unrelated renders
  apps/web/src/components/profile/biography-wallpaper.tsx
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/src/hooks/useWallpaperQuery.ts
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(web): preserve exact Profile IDs in browse filters
  apps/web/src/lib/browse-filters.ts
  apps/web/test/lib/browse-filters.test.ts
Due: apps

test(web): reject linked wallpaper images through the shared rendering policy
  apps/web/src/components/profile/biography-external-link.tsx
  apps/web/src/components/profile/biography-wallpaper.tsx
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/src/components/profile/public-profile-page.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
  apps/web/test/components/profile/public-profile-page.test.tsx
Due: apps

test(web): withhold missing and foreign Biography wallpaper embeds
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(web): warn before opening external Biography destinations
  apps/web/src/components/profile/biography-external-link.tsx
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

docs(profiles): describe shared Biography Markdown policy
  packages/profile-markdown/README.md
Due: packages

test(profiles): prove shared Markdown security and rendering parity
  packages/profile-markdown/test/policy.test.ts
  packages/profile-markdown/test/rendering-policy.test.ts
Due: packages

style(profiles): format Biography command and event integration
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/consumers/wallpaper-ownership.consumer.ts
  apps/user/src/services/profile.service.ts
  packages/events/src/schemas/profile-updated.ts
Due: apps, packages

test(user): verify atomic Biography rollback and retry
  apps/user/test/profile.integration.test.ts
Due: apps

test(gateway): preserve authored Biography events in public reads
  apps/gateway/test/profile.test.ts
Due: apps

feat(profiles): enforce Biography Unicode character limits
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
Due: packages

fix(nats): retain Wallpaper publication events for Profile rebuilds
  infra/nats/init/setup-streams.sh
  infra/nats/init/setup-streams.test.ts
Due: none

docs: describe the shared Profile Markdown package
  apps/docs/content/docs/architecture/shared-packages.mdx
Due: apps

test(user): preserve aliases and concurrency when clearing Biography
  apps/user/test/profile.integration.test.ts
Due: apps

fix(profiles): reject linked Wallpaper images consistently
  packages/profile-markdown/README.md
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/rendering-policy.test.ts
Due: packages

feat(web): preview Biography drafts through the safe public renderer
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

feat(gateway): validate bounded Profile search input (#174)
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/graphql/schema.ts
  apps/gateway/test/profile-search.test.ts
Due: apps

test(web): retain Biography drafts while wallpaper ownership catches up
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

feat(web): render Profile Biography Markdown as sanitized React elements
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

test(user): reject linked Wallpaper images before Profile mutation
  apps/user/test/profile.integration.test.ts
Due: apps

style(web): format Biography editor controls and regression tests
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

fix(profiles): reject unsafe Markdown link destinations
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/policy.test.ts
Due: packages

feat(web): let visitors retry unavailable Biography wallpapers
  apps/web/src/components/profile/biography-wallpaper.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(web): edit and save authored Profile Biography Markdown
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/src/components/profile/profile-settings-page.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
Due: apps

feat(web): restore and clear selected Profile filters
  apps/web/src/components/profile/profile-filter.tsx
  apps/web/test/components/profile/profile-filter.test.tsx
Due: apps

feat(profiles): share sanitized Wallpaper Markdown rendering
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/test/rendering-policy.test.ts
Due: packages

test(web): verify Biography refresh races and exact draft input
  apps/web/test/components/profile/profile-biography-settings.test.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

fix(gateway): budget nested Profile search work (#174)
  apps/gateway/src/services/query-complexity.service.ts
  apps/gateway/test/graphql-security.test.ts
Due: apps

fix(profiles): keep Markdown policy types compatible with web compilation
  packages/profile-markdown/src/index.ts
  packages/profile-markdown/tsconfig.json
Due: packages

fix(web): fail closed for Biography Markdown rejected by shared policy
  apps/web/src/components/profile/profile-biography.tsx
  apps/web/test/components/profile/profile-biography.test.tsx
Due: apps

feat(gateway): rank Profile search matches in strict tiers (#174)
  apps/gateway/src/repositories/profile.repository.ts
  apps/gateway/test/profile-search.test.ts
Due: apps

test(user): reject foreign Biography embeds without partial edits
  apps/user/test/profile.integration.test.ts
Due: apps

fix(web): preserve Biography edit versions until deliberate refresh
  apps/web/src/components/profile/profile-biography-settings.tsx
  apps/web/test/components/profile/profile-biography-settings.test.tsx
  apps/web/test/lib/api/user.test.ts
Due: apps
