Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

fix(web,wallpaper-detail): resolve layout and styling issues
  apps/web/package.json
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/search-bar.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/kbd.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/components/wallpaper-detail/VariantList.tsx
  apps/web/src/components/wallpaper-detail/WallpaperDisplay.tsx
  apps/web/src/components/wallpaper-detail/WallpaperMetadata.tsx
  apps/web/src/contexts/upload-queue-context.tsx
  apps/web/src/hooks/use-media-query.ts
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/hooks/usePersistentState.ts
  apps/web/src/index.css
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/src/lib/services/wallpaper-share.ts
  apps/web/src/lib/utils/wallpaper.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/upload.tsx
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  pnpm-lock.yaml
Due: apps

docs(all): sync documentation with production state
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  apps/docs/content/docs/architecture/index.mdx
  apps/docs/content/docs/architecture/multi-service.mdx
  apps/docs/content/docs/architecture/service-registry.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/services/index.mdx
  apps/docs/content/docs/services/media.mdx
  apps/gateway/README.md
  apps/media/README.md
  plans/monitoring-alerting-improvements.md
  plans/multi-service-architecture.md
  plans/services.md
Due: apps

docs(packages): fix schema structures and API references
  apps/docs/content/docs/packages/core.mdx
  apps/docs/content/docs/packages/events.mdx
  apps/docs/content/docs/packages/test-utils.mdx
  apps/docs/content/docs/packages/testcontainers.mdx
Due: apps

chore: fix lint issues
  apps/docs/biome.json
  apps/docs/content/docs/openapi/ingestor/health/get.mdx
  apps/docs/content/docs/openapi/ingestor/ready/get.mdx
  apps/docs/content/docs/openapi/ingestor/upload/post.mdx
  apps/docs/content/docs/openapi/media/health/get.mdx
  apps/docs/content/docs/openapi/media/ready/get.mdx
  apps/docs/content/docs/openapi/media/wallpapers/id/get.mdx
  apps/gateway/biome.json
  apps/gateway/package.json
  apps/gateway/tsconfig.json
  apps/gateway/vitest.config.ts
  apps/ingestor-e2e/biome.json
  apps/ingestor/biome.json
  apps/media/biome.json
  apps/variant-generator/biome.json
  apps/web/biome.json
  apps/web/package.json
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  package.json
  packages/core/biome.json
  packages/core/package.json
  packages/events/biome.json
  packages/react-muuri/biome.json
  packages/react-muuri/stories/MuuriGrid.stories.tsx
  packages/test-utils/biome.json
  packages/testcontainers/biome.json
  packages/url-ipv4-resolver/biome.json
  pnpm-lock.yaml
Due: apps, packages

chore: increase delay for useItem test
  packages/react-muuri/test/hooks/useItem.test.tsx
Due: packages

Add scaffold new service template
  .github/ISSUE_TEMPLATE/scaffold-new-service.md
Due: none

chore: change tag to feature for scaffold new service template
  .github/ISSUE_TEMPLATE/scaffold-new-service.md
Due: none

chore(templates): add goal and connections to scaffold new service
  .github/ISSUE_TEMPLATE/scaffold-new-service.md
Due: none

feat(core,ingestor): introduce FakeTimerService for deterministic scheduler tests
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/src/services/reconciliation/missing-events-reconciliation.service.ts
  apps/ingestor/src/services/scheduler.service.ts
  apps/ingestor/test/builders/InProcessIngestorBuilder.ts
  apps/ingestor/test/scheduler-lifecycle.test.ts
  apps/ingestor/test/scheduler.test.ts
  packages/core/package.json
  packages/core/src/timer/index.ts
  packages/core/test/timer.test.ts
Due: apps, packages

fix(gateway,docs): resolve graphql ESM/CJS realm split in Vitest
  Makefile
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/post-mortems/001-graphql-realm-duplicate-module.mdx
  apps/docs/content/docs/post-mortems/index.mdx
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
  apps/gateway/vitest.config.ts
  apps/media/swagger.json
Due: apps

chore: generate swagger
  apps/media/swagger.json
Due: apps

fix(vitest-config,turbo): resolve check-types CI failure on fresh checkout
  packages/vitest-config/package.json
  turbo.json
Due: packages

feat(agents,docs): add agent skills system and refresh all READMEs
  .agents/skills/create-service/SKILL.md
  .agents/skills/database-schema/SKILL.md
  .agents/skills/development-principles/SKILL.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/implement-frontend/COMPONENTS.md
  .agents/skills/implement-frontend/DATA-FETCHING.md
  .agents/skills/implement-frontend/ROUTING.md
  .agents/skills/implement-frontend/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/project-overview/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/write-a-skill/SKILL.md
  .agents/skills/write-readme/SKILL.md
  AGENTS.md
  README.md
  apps/docs/README.md
  apps/gateway/README.md
  apps/ingestor-e2e/README.md
  apps/ingestor/README.md
  apps/media/README.md
  apps/variant-generator/README.md
  apps/web/README.md
  packages/core/README.md
  packages/events/README.md
  packages/react-muuri/README.md
  packages/test-logger/README.md
  packages/test-utils/README.md
  packages/testcontainers/README.md
  packages/url-ipv4-resolver/README.md
  packages/vitest-config/README.md
  plans/agent-skills-and-readme-refresh.md
  skills-lock.json
Due: apps, packages

feat: add do work skill
  .agents/skills/do-work/SKILL.md
Due: none

feat: add 3 skills from mattpocock
  .agents/skills/prd-to-issues/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/tdd/mocking.md
  .agents/skills/tdd/refactoring.md
  .agents/skills/tdd/tests.md
  .agents/skills/write-a-prd/SKILL.md
  skills-lock.json
Due: none

fix(web): download dropdown width auto instead of fixed
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
Due: apps

fix(web): remove redundant View Details floating button on mobile (closes #80)
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
Due: apps

fix(web,header): prevent title/search overlap on ~960px (#78)
  apps/web/src/components/header-layout.tsx
  apps/web/src/routes/__root.tsx
Due: apps

chore: format
  apps/ingestor/tsconfig.json
  apps/media/src/services/consumers/wallpaper-variant-uploaded-consumer.service.ts
  apps/media/swagger.json
  apps/media/tsconfig.json
  apps/variant-generator/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/variant-generator/src/services/resolution-matcher.service.ts
  apps/variant-generator/src/services/variant-generator.service.ts
  apps/variant-generator/tsconfig.json
  packages/core/src/connections/database-connection.ts
  packages/core/src/connections/otel-connection.ts
  packages/core/src/timer/index.ts
  packages/core/test/integration/connections/database-connection.test.ts
  packages/core/test/timer.test.ts
  packages/core/tsconfig.json
  packages/events/src/schemas/wallpaper-variant-uploaded.ts
  packages/events/tsconfig.json
  packages/react-muuri/test/integration/dynamic-items.test.tsx
  packages/react-muuri/tsconfig.json
  packages/test-logger/package.json
  packages/test-logger/tsconfig.json
  packages/test-utils/src/builders/OpenSearchTesterBuilder.ts
  packages/test-utils/src/builders/RedisTesterBuilder.ts
  packages/test-utils/tsconfig.json
  packages/testcontainers/tsconfig.json
  packages/url-ipv4-resolver/tsconfig.json
  packages/vitest-config/package.json
  packages/vitest-config/tsconfig.json
Due: apps, packages

feat(web,upload-queue): add STOPPED state to upload queue (#83)
  apps/web/src/contexts/upload-queue-context.tsx
  apps/web/test/contexts/upload-queue-reducer.test.ts
Due: apps

feat(web,upload): add contextual Stop/Resume/Clear buttons (#84)
  apps/web/src/components/upload/upload-action-buttons.tsx
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-action-buttons.test.tsx
Due: apps

feat(web,upload): add queue status text with live rate-limit countdown (#85)
  apps/web/src/components/upload/upload-action-buttons.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/hooks/useCountdown.ts
  apps/web/src/lib/utils/upload-queue.ts
  apps/web/src/routes/upload.tsx
  apps/web/test/hooks/useCountdown.test.ts
  apps/web/test/lib/utils/upload-queue.test.ts
Due: apps

feat(web,upload): add Stop and Resume controls to upload queue toast (#86)
  apps/web/src/components/upload/upload-queue-toast-manager.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
Due: apps

feat(web,upload): add amber/striped progress bar style for stopped queue state (#87)
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/index.css
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
Due: apps
