Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

fix(testing): invalidate typecheck cache for test changes
  scripts/makefile.test.mjs
  turbo.json
Due: none

fix(events): reject contradictory CloudEvent extension metadata
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/media/src/adapters/events/translation.ts
  apps/media/test/events-translation.test.ts
  apps/user/src/adapters/events/translation.ts
  apps/user/test/events.integration.test.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/events-translation.test.ts
Due: apps

docs: restore third-party skills to their pre-cleanup versions
  .agents/skills/clerk-custom-ui/SKILL.md
  .agents/skills/clerk-custom-ui/core-2/custom-sign-in.md
  .agents/skills/clerk-custom-ui/core-2/custom-sign-up.md
  .agents/skills/clerk-custom-ui/core-3/custom-sign-in.md
  .agents/skills/clerk-custom-ui/core-3/custom-sign-up.md
  .agents/skills/clerk-custom-ui/core-3/show-component.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prd-to-issues/SKILL.md
  .agents/skills/review/SKILL.md
  .agents/skills/teach/GLOSSARY-FORMAT.md
  .agents/skills/teach/LEARNING-RECORD-FORMAT.md
  .agents/skills/teach/MISSION-FORMAT.md
  .agents/skills/teach/RESOURCES-FORMAT.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/writing-great-skills/GLOSSARY.md
  .agents/skills/writing-great-skills/SKILL.md
  docs/agents/issue-tracker.md
Due: none

fix(color-extractor): probe required asset reference storage
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
  apps/color-extractor/test/telemetry.integration.test.ts
Due: apps

fix(variant-generator): probe required asset reference storage
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
Due: apps

fix(ingestor): include asset reference storage in health
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/test/adapters/assets.test.ts
Due: apps

fix(media): probe configured immutable asset registry
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

fix(user): report unavailable picture reference publication storage
  apps/user/src/adapters/events/index.ts
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/test/profile.integration.test.ts
Due: apps

fix(web): separate wallpaper card action controls
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/test/components/grid/WallpaperCard.test.tsx
Due: apps

fix(web): label the wallpaper details dialog
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  apps/web/test/routes/wallpaper-detail-dialog.test.tsx
Due: apps

docs: restore purpose and core capabilities in workspace READMEs
  .agents/skills/write-readme/SKILL.md
  README.md
  apps/color-extractor/README.md
  apps/docs/README.md
  apps/gateway/README.md
  apps/ingestor-e2e/README.md
  apps/ingestor/README.md
  apps/media/README.md
  apps/tags/README.md
  apps/user/README.md
  apps/variant-generator/README.md
  apps/web-e2e/README.md
  apps/web/README.md
  packages/core/README.md
  packages/events/README.md
  packages/profile-markdown/README.md
  packages/react-muuri/README.md
  packages/test-utils/README.md
  packages/testcontainers/README.md
  packages/url-ipv4-resolver/README.md
  packages/vitest-config/README.md
Due: apps, packages

fix(health): interrupt sibling storage probes on failure
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/image-cancellation.test.ts
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/test/adapters/assets-lifecycle.test.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-cancellation.test.ts
Due: apps

docs: restore agent instructions and remove all plans
  AGENTS.md
  apps/ingestor/docs/adr/0001-effect-ingestion-and-durable-publication.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  plans/README.md
Due: apps

test(media): provision registry for application health checks
  apps/media/test/health.test.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/media/test/integration/resize.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

fix(media): cancel sibling dependency health work on failure
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

test(user): isolate optional publication storage in health fixtures
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/telemetry.integration.test.ts
Due: apps

fix(web): provide router context to upload notifications
  apps/web/src/App.tsx
  apps/web/src/routes/__root.tsx
  apps/web/test/app-upload-navigation.test.tsx
Due: apps

fix(web): ignore empty owner queries in profile snapshots
  apps/web/src/hooks/use-owner-profile.ts
  apps/web/test/components/profile-bootstrap.test.tsx
Due: apps

fix(variant-generator): publish exact new rendition dimensions
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/image/encoder.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/adapters/image/process.ts
  apps/variant-generator/src/adapters/image/storage.ts
  apps/variant-generator/src/generation/index.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/generation.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
Due: apps

docs(review): record final contract and browser verification
  plans/event-contract-review.md
Due: none

docs: record three-level color-search production direction
  docs/adr/0004-use-precomputed-color-utilities-with-three-quality-levels.md
  research/README.md
  research/color-querying/EVIDENCE.md
  research/color-querying/METHOD.md
  research/color-querying/PRODUCTION-QUESTIONS.md
  research/color-querying/README.md
  research/color-querying/RESEARCH-PATH.md
Due: none

docs: pin prototype evidence and use available ADR number
  docs/adr/0006-use-precomputed-color-utilities-with-three-quality-levels.md
  research/color-querying/EVIDENCE.md
  research/color-querying/METHOD.md
  research/color-querying/PRODUCTION-QUESTIONS.md
  research/color-querying/README.md
  research/color-querying/RESEARCH-PATH.md
Due: none

docs: move color-querying research under docs
  docs/adr/0006-use-precomputed-color-utilities-with-three-quality-levels.md
  docs/research/README.md
  docs/research/color-querying/EVIDENCE.md
  docs/research/color-querying/METHOD.md
  docs/research/color-querying/PRODUCTION-QUESTIONS.md
  docs/research/color-querying/README.md
  docs/research/color-querying/RESEARCH-PATH.md
Due: none

docs: research hosting WallpaperDB on Railway
  docs/railway-hosting-research.md
Due: none

fix(gateway): reject cursors incompatible with wallpaper ordering
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/catalogue.test.ts
Due: apps

fix(gateway): preserve and validate binary event identity
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps

fix(color-extractor): honor binary CloudEvent metadata
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/events-translation.test.ts
Due: apps

fix(media): reject conflicting CloudEvent metadata
  apps/media/src/adapters/events/translation.ts
  apps/media/test/events-translation.test.ts
Due: apps

refactor(events): remove unused unsafe broker runners
  packages/events/package.json
  packages/events/src/consumer/base-event-consumer.ts
  packages/events/src/consumer/index.ts
  packages/events/src/index.ts
  packages/events/src/publisher/base-event-publisher.ts
  packages/events/src/publisher/index.ts
  packages/events/test/consumer/base-event-consumer.test.ts
  packages/events/test/public-contract.test.ts
  packages/events/test/publisher/base-event-publisher.test.ts
Due: packages

fix(variant-generator): preserve quarantined CloudEvent envelopes
  apps/variant-generator/src/adapters/events/quarantine.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
Due: apps

docs(review): add stable asset browser evidence
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/deterministic-filter.png
  docs/review-evidence/event-contracts/deterministic-profile.webm
  docs/review-evidence/event-contracts/deterministic-upload.webm
  docs/review-evidence/event-contracts/deterministic-variant.webm
Due: none

test(ingestor): run deployed uploads without descriptor storage
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
  apps/ingestor-e2e/test/upload.e2e.test.ts
Due: apps

test(media): deliver replayed variants from historical buckets
  apps/media/test/integration/event-consumption.test.ts
Due: apps
