Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

Require workspace ownership and Turbo checks for code and scripts
  docs/coding-standards/project-organization.md
Due: none

Run the vendored CRAP analyzer as a workspace package
  .github/workflows/ci.yml
  Makefile
  apps/docs/content/docs/guides/crap-scores.mdx
  crap.config.mts
  package.json
  packages/crap-typescript-core/LICENSE
  packages/crap-typescript-core/README.md
  packages/crap-typescript-core/UPSTREAM.md
  packages/crap-typescript-core/biome.json
  packages/crap-typescript-core/package.json
  packages/crap-typescript-core/src/constants.ts
  packages/crap-typescript-core/src/coverageAttribution.ts
  packages/crap-typescript-core/src/coverageNormalization.ts
  packages/crap-typescript-core/src/coverageUnits.ts
  packages/crap-typescript-core/src/crapScore.ts
  packages/crap-typescript-core/src/fileSelection.ts
  packages/crap-typescript-core/src/index.ts
  packages/crap-typescript-core/src/istanbul.ts
  packages/crap-typescript-core/src/parser.ts
  packages/crap-typescript-core/src/sourceExclusions.ts
  packages/crap-typescript-core/src/types.ts
  packages/crap-typescript-core/src/utils.ts
  packages/crap-typescript-core/test/callbackCoverage.test.ts
  packages/crap-typescript-core/test/callbacks.test.ts
  packages/crap-typescript-core/test/coverage.test.ts
  packages/crap-typescript-core/test/fileSelection.test.ts
  packages/crap-typescript-core/test/parser.test.ts
  packages/crap-typescript-core/test/sourceExclusions.test.ts
  packages/crap-typescript-core/test/testUtils.ts
  packages/crap-typescript-core/tsconfig.json
  packages/crap-typescript-core/turbo.json
  packages/crap-typescript-core/vitest.config.ts
  pnpm-lock.yaml
  scripts/crap-scope.test.mjs
  scripts/crap-vitest.config.ts
  scripts/crap.mts
  scripts/crap.test.ts
  scripts/vendor/crap-typescript-core/UPSTREAM.md
Due: apps, packages

Measure callback bodies with conservative coverage ownership
  .github/workflows/ci.yml
  apps/docs/content/docs/guides/crap-scores.mdx
  packages/vitest-config/src/defaults.ts
  scripts/ci-runner.test.ts
  scripts/crap-scope.test.mjs
  scripts/crap.test.ts
  scripts/fixtures/crap/callbacks.test.ts
  scripts/fixtures/crap/callbacks.ts
  scripts/tsconfig.crap.json
  scripts/vendor/crap-typescript-core/UPSTREAM.md
  scripts/vendor/crap-typescript-core/src/coverageAttribution.ts
  scripts/vendor/crap-typescript-core/src/coverageUnits.ts
  scripts/vendor/crap-typescript-core/src/istanbul.ts
  scripts/vendor/crap-typescript-core/src/parser.ts
  scripts/vendor/crap-typescript-core/src/types.ts
  scripts/vendor/crap-typescript-core/test/callbackCoverage.test.ts
  scripts/vendor/crap-typescript-core/test/callbacks.test.ts
  scripts/vendor/crap-typescript-core/test/coverage.test.ts
Due: apps, packages

Vendor the shared CRAP analyzer with upstream provenance
  Makefile
  crap.config.mts
  package.json
  pnpm-lock.yaml
  scripts/crap-scope.test.mjs
  scripts/crap-vitest.config.ts
  scripts/crap.mts
  scripts/vendor/crap-typescript-core/LICENSE
  scripts/vendor/crap-typescript-core/UPSTREAM.md
  scripts/vendor/crap-typescript-core/src/constants.ts
  scripts/vendor/crap-typescript-core/src/coverageAttribution.ts
  scripts/vendor/crap-typescript-core/src/coverageNormalization.ts
  scripts/vendor/crap-typescript-core/src/coverageUnits.ts
  scripts/vendor/crap-typescript-core/src/crapScore.ts
  scripts/vendor/crap-typescript-core/src/fileSelection.ts
  scripts/vendor/crap-typescript-core/src/index.ts
  scripts/vendor/crap-typescript-core/src/istanbul.ts
  scripts/vendor/crap-typescript-core/src/parser.ts
  scripts/vendor/crap-typescript-core/src/sourceExclusions.ts
  scripts/vendor/crap-typescript-core/src/types.ts
  scripts/vendor/crap-typescript-core/src/utils.ts
  scripts/vendor/crap-typescript-core/test/coverage.test.ts
  scripts/vendor/crap-typescript-core/test/fileSelection.test.ts
  scripts/vendor/crap-typescript-core/test/parser.test.ts
  scripts/vendor/crap-typescript-core/test/sourceExclusions.test.ts
  scripts/vendor/crap-typescript-core/test/testUtils.ts
Due: none

Document playable video attachments for PRs
  .agents/skills/do-work/SKILL.md
  .agents/skills/pr-video-attachment/SKILL.md
Due: none

Add browser recording for image-only upload flow
  .github/recordings/issue-246-upload-flow.webm
Due: none

Use Dockerode endpoint discovery in test utilities
  packages/test-utils/tests/docker.test.ts
  packages/test-utils/tests/nats.test.ts
  packages/test-utils/tests/postgres.test.ts
  packages/test-utils/tests/redis.test.ts
Due: packages

Reject unsupported upload files before queueing
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
Due: apps

Align upload copy and picker with supported images
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
  apps/web/test/routes/upload.test.tsx
Due: apps

Keep upload demonstration as PR attachment
  .github/recordings/issue-246-upload-flow.webm
Due: none

fix(media): serve matching stored renditions without resizing
  apps/media/src/delivery/index.ts
  apps/media/test/delivery.test.ts
Due: apps

fix(media): release S3 sockets when checksummed reads are cancelled
  apps/media/src/adapters/assets/index.ts
  apps/media/test/assets.test.ts
Due: apps

docs(media): define asset and rendition vocabulary
  apps/media/CONTEXT.md
Due: apps

docs(media): define asset inspection and delivery terms
  apps/media/CONTEXT.md
Due: apps

feat(dev): add make stop for app and infrastructure stacks
  Makefile
  scripts/makefile.test.mjs
Due: none

Skip CI workflows for Markdown-only changes
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

Accept still wallpapers within pixel and axis limits
  apps/ingestor/CONTEXT.md
  apps/ingestor/src/adapters/inspection/index.ts
  apps/ingestor/src/http/openapi.ts
  apps/ingestor/src/http/problems.ts
  apps/ingestor/src/ingestion/index.ts
  apps/ingestor/test/adapters/inspection.test.ts
  apps/ingestor/test/fixtures/animated.png
  apps/ingestor/test/fixtures/animated.webp
  apps/ingestor/test/ingestion.test.ts
  apps/ingestor/test/unit/http.test.ts
  apps/ingestor/test/upload-policy.test.ts
Due: apps

Show upload limits and preserve validation details in web UI
  apps/web/src/components/upload/upload-drop-zone.tsx
  apps/web/test/components/upload/upload-drop-zone.test.tsx
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/routes/upload.test.tsx
Due: apps

Refresh generated upload API documentation
  apps/docs/content/docs/openapi/ingestor/upload/post.mdx
Due: apps

Clarify the development runtime prerequisites
  CONTRIBUTING.md
Due: none

Preserve asymmetric DOM matcher types with Vitest 5
  apps/web/test/setup.test.ts
  apps/web/test/setup.ts
  packages/react-muuri/test/setup.ts
Due: apps, packages

Document Buildx as a container build prerequisite
  CONTRIBUTING.md
Due: none

Use megapixel units in upload limit errors
  apps/ingestor/src/http/problems.ts
  apps/ingestor/test/unit/http.test.ts
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/routes/upload.test.tsx
Due: apps

Document repository test seams for planning skills
  .agents/skills/testing/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/write-a-prd/SKILL.md
  CODING_STANDARDS.md
  docs/coding-standards/project-organization.md
Due: none

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
