Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

chore(gateway): remove duplicate CRAP analyzer
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/package.json
  apps/gateway/quality.config.json
  apps/gateway/turbo.json
  plans/gateway-effect-migration.md
  scripts/gateway-checks.test.mjs
  scripts/gateway-quality.mjs
Due: apps

fix(gateway): preserve normal browse admission
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/.env.example
  apps/gateway/src/config.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/unit/config.test.ts
  apps/gateway/test/unit/http-fixture.ts
Due: apps

docs(gateway): describe Profile discovery and shared Make workflows
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/README.md
  apps/gateway/docs/test-performance.md
  plans/gateway-effect-migration.md
Due: apps

fix(gateway): isolate quota command cancellation
  apps/gateway/src/adapters/redis/index.ts
  apps/gateway/test/redis.test.ts
Due: apps

fix(gateway): restore concurrent projection delivery across replicas
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/test/nats.test.ts
Due: apps

fix(gateway): bound GraphQL fragment execution costs
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/http/index.ts
  apps/gateway/src/http/security.ts
  apps/gateway/test/graphql-security.test.ts
Due: apps

docs: retire superseded coding guidelines
  .agents/skills/create-service/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/review/SKILL.md
  .agents/skills/testing/SKILL.md
  .sandcastle/README.md
  .sandcastle/WORKFLOW.md
  .sandcastle/implement-prompt.md
  .sandcastle/review-prompt.md
  AGENTS.md
  CONTRIBUTING.md
  apps/docs/README.md
  apps/docs/content/docs/development-guidelines.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/guides/creating-new-service.mdx
  apps/docs/content/docs/guides/error-handling.mdx
  apps/docs/content/docs/guides/index.mdx
  apps/docs/content/docs/guides/testing-strategies.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/infrastructure/local-setup.mdx
Due: apps

fix(gateway): cancel dependency startup with its owner
  apps/gateway/src/app.ts
  apps/gateway/src/http/index.ts
  apps/gateway/src/server.ts
  apps/gateway/test/http-lifecycle.test.ts
  apps/gateway/test/server.test.ts
Due: apps

fix(gateway): close telemetry transports during cleanup
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/package.json
  apps/gateway/src/otel-init.ts
  apps/gateway/test/unit/otel.test.ts
  pnpm-lock.yaml
Due: apps

test(gateway): honor controlled cursor expiry
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/cursor.service.test.ts
  apps/gateway/test/helpers/catalogue.ts
Due: apps

perf(gateway): reduce test startup and reuse worker modules
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/docs/test-performance.md
  apps/gateway/src/app.ts
  apps/gateway/src/config.ts
  apps/gateway/test/builders/InProcessGatewayBuilder.ts
  apps/gateway/test/builders/index.ts
  apps/gateway/test/integration.test.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/profile.test.ts
  apps/gateway/test/search-fixture.ts
  apps/gateway/test/search-global-setup.ts
  apps/gateway/test/server.test.ts
  apps/gateway/test/setup.ts
  apps/gateway/test/unit/config.test.ts
  apps/gateway/vitest.config.ts
  packages/test-utils/src/builders/NatsTesterBuilder.ts
  packages/testcontainers/src/containers/nats.ts
  plans/gateway-effect-migration.md
Due: apps, packages

fix(gateway): use shared Make commands with Vitest 5
  Makefile
  apps/gateway/test/server.test.ts
  scripts/makefile.test.mjs
Due: apps

docs(services): restore the complete service overview
  apps/docs/content/docs/services/index.mdx
Due: apps

test(gateway): remove migration-specific coverage gates
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/vitest.config.ts
  plans/gateway-effect-migration.md
Due: apps

fix(user): build workspace dependencies in development image
  apps/user/Dockerfile.dev
Due: apps

docs: limit standards PR to standards and supporting research
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
Due: none

docs: scope serialization and research NATS guideline proposals
  docs/coding-standards/distributed-interactions.md
  docs/research/nats-guideline-proposals.md
Due: none

docs: keep metric consumers aligned with instrumentation changes
  docs/coding-standards/composition-and-operations.md
Due: none

test(gateway): configure coverage floors without baseline artifact
  apps/gateway/coverage-baseline.json
  apps/gateway/turbo.json
  apps/gateway/vitest.config.ts
  plans/gateway-effect-migration.md
Due: apps

docs(gateway): clarify failed health response compatibility
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/test/health.test.ts
Due: apps

fix(gateway): bound catalogue page sizes
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/catalogue.test.ts
Due: apps

docs: clarify GraphQL error response standards
  CODING_STANDARDS.md
  codex-session-01a069ba-d648-7bf1-bb20-17aafc46c459.md
  docs/crap-analyzer-evaluation.md
  docs/research/event-driven-hexagonal-architecture.md
  docs/research/event-ordering.md
Due: none

fix(gateway): price resolved GraphQL pagination
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/http/index.ts
  apps/gateway/src/http/security.ts
  apps/gateway/test/graphql-security.test.ts
Due: apps

refactor(gateway): return catalogue read values directly
  apps/gateway/src/adapters/opensearch/index.ts
  apps/gateway/src/catalogue/index.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/helpers/catalogue.ts
  apps/gateway/test/http-lifecycle.test.ts
  apps/gateway/test/integration.test.ts
  apps/gateway/test/opensearch.test.ts
  apps/gateway/test/profile.test.ts
  apps/gateway/test/unit/http-fixture.ts
Due: apps

fix(gateway): distinguish quota enforcement bypass reasons
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/docs/adr/0002-effect-services-and-owned-lifetimes.md
  apps/gateway/src/adapters/redis/index.ts
  apps/gateway/test/redis.test.ts
  infra/grafana/provisioning/alerting/alerting.yaml
Due: apps

fix(gateway): invalidate architecture lint for external imports
  apps/gateway/turbo.json
Due: apps

test(gateway): cover incoming Profile events end to end
  apps/gateway/test/event-consumers.test.ts
  apps/gateway/test/integration.test.ts
Due: apps

fix(testcontainers): allow bounded NATS readiness deadlines
  packages/testcontainers/src/containers/nats.ts
  packages/testcontainers/test/nats-container.test.ts
Due: packages

docs(gateway): remove temporary performance report
  apps/gateway/docs/test-performance.md
  plans/gateway-effect-migration.md
Due: apps

fix(gateway): align projection dashboards with delivery metrics
  infra/grafana/dashboards/gateway-overview.json
Due: none

docs: add source-backed NATS and JetStream guidelines
  CODING_STANDARDS.md
  apps/docs/content/docs/infrastructure/nats.mdx
  docs/coding-standards/adapters.md
  docs/coding-standards/distributed-interactions.md
  docs/coding-standards/nats.md
  docs/research/nats-guideline-proposals.md
Due: apps

test(gateway): clarify contracts and verify forwarded headers
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/unit/admission.test.ts
Due: apps

fix(gateway): retain safe startup failure diagnostics
  apps/gateway/src/adapters/opensearch/index.ts
  apps/gateway/src/bootstrap.ts
  apps/gateway/src/index.ts
  apps/gateway/src/server.ts
  apps/gateway/src/startup-diagnostics.ts
  apps/gateway/test/server.test.ts
  apps/gateway/test/unit/startup-diagnostics.test.ts
Due: apps

docs: add authoritative coding standards
  CODING_STANDARDS.md
Due: none

fix(gateway): reserve capacity for durable quarantine
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/message-budget.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/nats.test.ts
  infra/nats/init/README.md
  infra/nats/init/setup-streams.sh
Due: apps

fix(gateway): report actionable broker startup failures
  apps/docs/content/docs/services/gateway.mdx
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/message-budget.ts
  apps/gateway/test/nats.test.ts
  apps/gateway/test/server.test.ts
Due: apps

feat(gateway): preserve Profile discovery and alias routing in Effect
  apps/gateway/src/adapters/opensearch/documents.ts
  apps/gateway/src/adapters/opensearch/index.ts
  apps/gateway/src/adapters/opensearch/profiles.ts
  apps/gateway/src/catalogue/index.ts
  apps/gateway/src/graphql/resolvers.ts
  apps/gateway/src/http/security.ts
  apps/gateway/test/catalogue.test.ts
  apps/gateway/test/graphql-security.test.ts
  apps/gateway/test/graphql.test.ts
  apps/gateway/test/helpers/catalogue.ts
  apps/gateway/test/http-lifecycle.test.ts
  apps/gateway/test/profile-search.test.ts
  apps/gateway/test/profile.test.ts
  apps/gateway/test/unit/http-fixture.ts
  apps/gateway/vitest.config.ts
Due: apps

docs: organize coding guidelines and adopt backend Effect standards
  .agents/skills/create-service/SKILL.md
  .agents/skills/implement-frontend/TESTING.md
  .agents/skills/review/SKILL.md
  .agents/skills/testing/SKILL.md
  .sandcastle/README.md
  .sandcastle/WORKFLOW.md
  .sandcastle/implement-prompt.md
  .sandcastle/review-prompt.md
  AGENTS.md
  CODING_STANDARDS.md
  CONTRIBUTING.md
  apps/docs/README.md
  apps/docs/content/docs/development-guidelines.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/guides/creating-new-service.mdx
  apps/docs/content/docs/guides/error-handling.mdx
  apps/docs/content/docs/guides/testing-strategies.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/infrastructure/local-setup.mdx
  docs/coding-standards/adapters.md
  docs/coding-standards/application-and-domain.md
  docs/coding-standards/composition-and-operations.md
  docs/coding-standards/distributed-interactions.md
  docs/coding-standards/maintaining-guidelines.md
  docs/coding-standards/project-organization.md
Due: apps

fix(gateway): normalize CloudEvent occurrence timestamps
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps
