Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

fix(testing): invalidate typecheck cache for test changes
  scripts/makefile.test.mjs
  turbo.json
Due: none

fix(variant-generator): probe required asset reference storage
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
Due: apps

fix(events): reject contradictory CloudEvent extension metadata
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/media/src/adapters/events/translation.ts
  apps/media/test/events-translation.test.ts
  apps/user/src/adapters/events/translation.ts
  apps/user/test/events.integration.test.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/events-translation.test.ts
Due: apps

fix(color-extractor): probe required asset reference storage
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
  apps/color-extractor/test/telemetry.integration.test.ts
Due: apps

fix(gateway): retain binary envelopes in quarantine
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/test/nats.test.ts
Due: apps

fix(gateway): validate event causation source metadata
  apps/gateway/src/adapters/events/index.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-consumers.test.ts
Due: apps

docs(review): record typecheck gap and follow-up scope
  plans/event-contract-review.md
Due: none

fix(color-extractor): skip images with no visible colors
  apps/color-extractor/CONTEXT.md
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/extraction.test.ts
Due: apps

fix(gateway): normalize relative color weights without overflow
  apps/gateway/src/catalogue/colors.ts
  apps/gateway/test/color-sort.test.ts
Due: apps

test(web-e2e): cover upload catalogue and decoded variant delivery
  apps/web-e2e/specs/base-user.setup.ts
  apps/web-e2e/specs/catalogue-journey.spec.ts
  apps/web-e2e/specs/journey-helpers.ts
  apps/web-e2e/tsconfig.json
Due: apps

fix(web): provide router context to upload notifications
  apps/web/src/App.tsx
  apps/web/src/routes/__root.tsx
  apps/web/test/app-upload-navigation.test.tsx
Due: apps

fix(web): align filter and persistent state types with behavior
  apps/web/src/hooks/usePersistentState.ts
  apps/web/src/lib/browse-filters.ts
Due: apps

fix(color-extractor): quarantine oversized input with recoverable chunks
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
Due: apps

fix(health): interrupt sibling storage probes on failure
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/image-cancellation.test.ts
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/test/adapters/assets-lifecycle.test.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-cancellation.test.ts
Due: apps

fix(variant-generator): honor binary CloudEvent metadata
  apps/variant-generator/src/adapters/events/consumer.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/events-translation.test.ts
Due: apps

fix(events): share quarantine planning and preserve replay metadata
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
  apps/media/src/adapters/events/quarantine.ts
  apps/media/test/events-consumer.integration.test.ts
  apps/variant-generator/src/adapters/events/quarantine.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  packages/core/package.json
  packages/core/src/quarantine/index.ts
  packages/core/test/quarantine.test.ts
Due: apps, packages

fix(web): generate routes before build and typecheck
  apps/web/package.json
  apps/web/scripts/generate-routes.mjs
  pnpm-lock.yaml
  scripts/makefile.test.mjs
Due: apps

refactor(user): publish picture references without a registry
  apps/user/.env.example
  apps/user/src/adapters/events/index.ts
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/test/events.integration.test.ts
  apps/user/test/picture-workflows.integration.test.ts
  apps/user/test/profile-picture-retention.integration.test.ts
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/profile.integration.test.ts
Due: apps

refactor(ingestor): publish stable assets without descriptor storage
  apps/ingestor/.env.example
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/src/adapters/events/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/test/adapters/assets-lifecycle.test.ts
  apps/ingestor/test/adapters/assets.test.ts
  apps/ingestor/test/adapters/events.test.ts
  apps/ingestor/test/composition.test.ts
Due: apps

fix(user): report unavailable picture reference publication storage
  apps/user/src/adapters/events/index.ts
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/test/profile.integration.test.ts
Due: apps

test(web-e2e): verify isolated profile picture lifecycle in browser
  apps/web-e2e/specs/profile-picture-journey.spec.ts
Due: apps

feat(events): add logical asset contracts with retained event compatibility
  packages/events/src/schemas/asset-reference.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-updated.ts
  packages/events/src/schemas/wallpaper-uploaded.ts
  packages/events/src/schemas/wallpaper-variant-uploaded.ts
  packages/events/test/logical-assets.test.ts
Due: packages

fix(web): build workspace dependencies in the development image
  apps/web/Dockerfile.dev
Due: apps

fix(quarantine): frame header-heavy inputs for bounded replay
  apps/color-extractor/test/events-consumer.integration.test.ts
  apps/media/test/events-consumer.integration.test.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  packages/core/src/quarantine/index.ts
  packages/core/test/quarantine.test.ts
Due: apps, packages

refactor(assets): remove obsolete descriptor storage protocol
  packages/core/src/assets/index.ts
  packages/core/test/integration/assets.test.ts
Due: packages

fix(web): typecheck authentication and hook test fixtures
  apps/web/test/app-upload-navigation.test.tsx
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
  apps/web/test/components/upload-auth-gate.test.tsx
  apps/web/test/contexts/upload-queue-reducer.test.ts
  apps/web/test/hooks/useCountdown.test.ts
  apps/web/test/hooks/useIntersectionObserver.test.tsx
  apps/web/test/lib/auth/token-provider.test.ts
  apps/web/test/routes/sso-callback.test.tsx
  apps/web/test/setup.ts
Due: apps

fix(events): centralize envelope reconciliation and conformance
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/test/event-envelope-conformance.test.ts
  apps/gateway/src/adapters/events/translation.ts
  apps/gateway/test/event-envelope-conformance.test.ts
  apps/media/src/adapters/events/translation.ts
  apps/media/test/event-envelope-conformance.test.ts
  apps/user/src/adapters/events/translation.ts
  apps/user/test/event-envelope-conformance.integration.test.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/test/event-envelope-conformance.test.ts
  packages/events/package.json
  packages/events/src/envelope/index.ts
  packages/events/test/envelope.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/event-contracts/index.ts
Due: apps, packages

test(ingestor): verify deployed logical asset contract
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
  apps/ingestor-e2e/test/upload.e2e.test.ts
Due: apps

test(media): provision registry for application health checks
  apps/media/test/health.test.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/media/test/integration/resize.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

docs(review): record final contract and browser verification
  plans/event-contract-review.md
Due: none

docs(assets): remove stale descriptor guidance
  apps/color-extractor/.env.example
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
Due: apps

docs(review): serve browser evidence as playable MP4 videos
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/deterministic-profile.mp4
  docs/review-evidence/event-contracts/deterministic-profile.webm
  docs/review-evidence/event-contracts/deterministic-upload.mp4
  docs/review-evidence/event-contracts/deterministic-upload.webm
  docs/review-evidence/event-contracts/deterministic-variant.mp4
  docs/review-evidence/event-contracts/deterministic-variant.webm
Due: none

docs(review): explain validation repairs and shared replay contract
  plans/event-contract-review.md
Due: none

docs(review): remove review evidence artifacts
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/catalogue-filter.webm
  docs/review-evidence/event-contracts/deterministic-filter.png
  docs/review-evidence/event-contracts/deterministic-profile.mp4
  docs/review-evidence/event-contracts/deterministic-upload.mp4
  docs/review-evidence/event-contracts/deterministic-variant.mp4
  docs/review-evidence/event-contracts/profile-picture-removal.webm
  docs/review-evidence/event-contracts/upload-notification.webm
  docs/review-evidence/event-contracts/variant-dimensions.webm
Due: none

fix(media): probe configured immutable asset registry
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

fix(color-extractor): bound durable quarantine retention
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/src/adapters/events/quarantine.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
Due: apps

feat(core): resolve immutable asset references through retained descriptors
  packages/core/package.json
  packages/core/src/assets/index.ts
  packages/core/test/integration/assets.test.ts
Due: packages

docs(review): record passing CI and browser evidence
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/catalogue-filter.webm
  docs/review-evidence/event-contracts/profile-picture-removal.webm
  docs/review-evidence/event-contracts/upload-notification.webm
  docs/review-evidence/event-contracts/variant-dimensions.webm
  plans/event-contract-review.md
Due: none

fix(gateway): bound color preference work in catalogue searches
  apps/gateway/src/catalogue/colors.ts
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/color-sort.test.ts
Due: apps

docs(adr): avoid numbering collision with main
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  docs/adr/0007-resolve-immutable-assets-through-storage-descriptors.md
  docs/adr/0008-resolve-assets-through-stable-object-layouts.md
Due: apps

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
