Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

docs: add wallpaperdb codebase review report
  reviews/2026-06-11-codebase-review-wallpaperdb.md
Due: none

fix(web): allow tailnet dev host
  apps/web/vite.config.ts
Due: apps

fix(web): configure Clerk for tailnet dev hosts
  apps/web/.env.example
  apps/web/src/App.tsx
Due: apps

fix(web): allow zerotwo dev host
  apps/web/vite.config.ts
Due: apps

fix(web): use same-origin API URLs
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/lib/graphql/client.test.ts
  scripts/setup-worktree.mjs
Due: apps

chore(infra): add AppArmor-unconfined compose overrides
  infra/docker-compose.apparmor-unconfined.yml
  infra/docker-compose.apps.apparmor-unconfined.yml
Due: none

chore: add Sandcastle OpenCode sandbox
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/CODING_STANDARDS.md
  .sandcastle/Dockerfile
  .sandcastle/README.md
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
  apps/color-extractor/Dockerfile.dev
  apps/gateway/Dockerfile.dev
  apps/ingestor/.env.example
  apps/ingestor/Dockerfile.dev
  apps/media/Dockerfile.dev
  apps/tags/Dockerfile.dev
  apps/user/.env.example
  apps/user/Dockerfile.dev
  apps/variant-generator/Dockerfile.dev
  apps/web/Dockerfile.dev
  infra/docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: apps

docs: add application screenshot to README
  README.md
  screenshot.png
Due: none

chore: add Sandcastle OpenCode sandbox
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/CODING_STANDARDS.md
  .sandcastle/Dockerfile
  .sandcastle/README.md
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
  apps/color-extractor/Dockerfile.dev
  apps/gateway/Dockerfile.dev
  apps/ingestor/.env.example
  apps/ingestor/Dockerfile.dev
  apps/media/Dockerfile.dev
  apps/tags/Dockerfile.dev
  apps/user/.env.example
  apps/user/Dockerfile.dev
  apps/variant-generator/Dockerfile.dev
  apps/web/Dockerfile.dev
  infra/docker-compose.yml
  package.json
  pnpm-lock.yaml
  scripts/setup-worktree.mjs
Due: apps

Add agent skills for design, debugging, and planning
  .agents/skills/codebase-design/DEEPENING.md
  .agents/skills/codebase-design/DESIGN-IT-TWICE.md
  .agents/skills/codebase-design/SKILL.md
  .agents/skills/diagnosing-bugs/SKILL.md
  .agents/skills/diagnosing-bugs/scripts/hitl-loop.template.sh
  .agents/skills/domain-modeling/ADR-FORMAT.md
  .agents/skills/domain-modeling/CONTEXT-FORMAT.md
  .agents/skills/domain-modeling/SKILL.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/implement/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prototype/LOGIC.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/prototype/UI.md
  .agents/skills/review/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/teach/GLOSSARY-FORMAT.md
  .agents/skills/teach/LEARNING-RECORD-FORMAT.md
  .agents/skills/teach/MISSION-FORMAT.md
  .agents/skills/teach/RESOURCES-FORMAT.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/write-a-skill/SKILL.md
  .agents/skills/writing-great-skills/GLOSSARY.md
  .agents/skills/writing-great-skills/SKILL.md
  .sandcastle/.opencode/auth.json
  skills-lock.json
Due: none

Remove committed OpenCode auth token
  .gitignore
  .sandcastle/.opencode/auth.json
Due: none

RALPH: add README application screenshot for #151
  README.md
  screenshot.png
Due: none

Fix Sandcastle sandbox workflow issues
  .agents/skills/github-markdown-bodies/SKILL.md
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
Due: none

Ignore local pnpm store artifacts
  .gitignore
Due: none

Complete Sandcastle PR automation cleanup
  .dockerignore
  .sandcastle/Dockerfile
  .sandcastle/README.md
  .sandcastle/main.ts
Due: none

chore(sandcastle): default OpenCode to GPT-5.6
  .sandcastle/README.md
  .sandcastle/main.ts
Due: none

feat(sandcastle): add sequential planning phase
  .sandcastle/README.md
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/review-prompt.md
Due: none

refactor(sandcastle): modularize orchestration helpers
  .sandcastle/config.ts
  .sandcastle/docker-resources.ts
  .sandcastle/github.ts
  .sandcastle/helpers.test.ts
  .sandcastle/main.ts
  .sandcastle/plan.ts
  .sandcastle/sandbox.ts
Due: none

Document profile domain and agent workflows
  AGENTS.md
  CONTEXT-MAP.md
  apps/user/CONTEXT.md
  docs/adr/0001-use-clerk-user-ids-as-profile-ids.md
  docs/adr/0002-project-profiles-into-the-graphql-read-model.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  plans/user-profile-support.md
Due: apps

chore(sandcastle): stream agent output to terminal
  .sandcastle/main.ts
Due: none

chore: switch to sol
  .sandcastle/config.ts
Due: none

attempt 1
  apps/user/.env.example
  apps/user/README.md
  apps/user/drizzle/0000_lively_cargill.sql
  apps/user/drizzle/meta/0000_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/package.json
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/src/db/schema.ts
  apps/user/src/domain/profile.ts
  apps/user/src/gen_swagger.ts
  apps/user/src/identity/clerk.ts
  apps/user/src/identity/identity-provider.ts
  apps/user/src/index.ts
  apps/user/src/otel-init.ts
  apps/user/src/repositories/profile.repository.ts
  apps/user/src/routes/health.routes.ts
  apps/user/src/routes/index.ts
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/health.service.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/clerk-identity-provider.test.ts
  apps/user/test/config.test.ts
  apps/user/test/profile-domain.test.ts
  apps/user/test/profile-route.test.ts
  apps/user/test/profile-service.test.ts
  apps/web/.env.example
  apps/web/src/App.tsx
  apps/web/src/components/auth-bridge.tsx
  apps/web/src/components/profile-bootstrap.tsx
  apps/web/src/lib/api/user.ts
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/lib/api/user.test.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-created.ts
  packages/events/test/schemas.test.ts
  pnpm-lock.yaml
  scripts/setup-worktree.mjs
Due: apps, packages

sandcastle changes
  .gitignore
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
Due: none

RALPH: prepare gateway for projected indexes (#39)
  apps/gateway/src/opensearch/index-definitions.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

sandcastle changes
  .gitignore
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/plan.ts
  .sandcastle/review-prompt.md
Due: none

RALPH: complete independent index lifecycle (#163, PRD #39)
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/opensearch.test.ts
Due: apps
