Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

fix(user): publish logical references for immutable profile pictures
  apps/user/src/adapters/events/publisher.ts
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/test/events.integration.test.ts
  apps/user/test/picture-workflows.integration.test.ts
  apps/user/test/profile-picture-retention.integration.test.ts
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/profile.integration.test.ts
Due: apps

feat(infra): provision private persistent asset descriptor storage
  infra/docker-compose.yml
  scripts/test-object-storage.mjs
Due: none

feat(color-extractor): resolve logical original asset references
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/config.ts
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/builders/InProcessColorExtractorBuilder.ts
  apps/color-extractor/test/config.test.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
Due: apps

fix(web): typecheck referenced application and test projects
  apps/web/package.json
  scripts/makefile.test.mjs
Due: apps

refactor(infra): remove asset descriptor bucket provisioning
  infra/docker-compose.yml
  scripts/test-object-storage.mjs
Due: none

fix(ingestor): include asset reference storage in health
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/test/adapters/assets.test.ts
Due: apps

refactor(media): resolve logical assets without a descriptor registry
  apps/media/.env.example
  apps/media/src/adapters/catalog/index.ts
  apps/media/src/app.ts
  apps/media/src/config.ts
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/catalog-logical-assets.test.ts
  apps/media/test/health.test.ts
  apps/media/test/integration/event-consumption.test.ts
  apps/media/test/integration/profile-pictures.test.ts
  apps/media/test/integration/resize.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

test(user): assert conformance through ownership effects
  apps/user/test/event-envelope-conformance.integration.test.ts
Due: apps

fix(variant-generator): publish exact new rendition dimensions
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/image/encoder.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/adapters/image/process.ts
  apps/variant-generator/src/adapters/image/storage.ts
  apps/variant-generator/src/generation/index.ts
  apps/variant-generator/test/events-consumer.integration.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/generation.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
Due: apps

refactor(color-extractor): resolve originals without a descriptor registry
  apps/color-extractor/.env.example
  apps/color-extractor/src/adapters/events/translation.ts
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/config.ts
  apps/color-extractor/src/extraction/index.ts
  apps/color-extractor/test/builders/InProcessColorExtractorBuilder.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/config.test.ts
  apps/color-extractor/test/events-translation.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/image-cancellation.test.ts
  apps/color-extractor/test/s3-image-reader.integration.test.ts
  apps/color-extractor/test/server.integration.test.ts
  apps/color-extractor/test/telemetry.integration.test.ts
Due: apps

fix(ingestor): publish immutable logical original asset references
  apps/ingestor/src/adapters/events/index.ts
  apps/ingestor/src/app.ts
  apps/ingestor/src/config.ts
  apps/ingestor/test/adapters/events.test.ts
  apps/ingestor/test/composition.test.ts
Due: apps

fix(web): label the wallpaper details dialog
  apps/web/src/routes/wallpapers.$wallpaperId.tsx
  apps/web/test/routes/wallpaper-detail-dialog.test.tsx
Due: apps

feat(variant-generator): publish immutable logical asset references
  apps/docs/content/docs/architecture/decisions/variant-generator-effect.mdx
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/events/translation.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/adapters/image/storage.ts
  apps/variant-generator/src/app.ts
  apps/variant-generator/src/config.ts
  apps/variant-generator/src/generation/index.ts
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/test/config.test.ts
  apps/variant-generator/test/events-translation.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/generation.test.ts
  apps/variant-generator/test/health.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
  apps/variant-generator/test/server.integration.test.ts
  apps/variant-generator/test/telemetry.integration.test.ts
Due: apps

feat(media): resolve immutable assets before catalog transactions
  apps/media/src/adapters/catalog/index.ts
  apps/media/src/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
  apps/media/test/catalog-postgres.test.ts
Due: apps

docs(adr): choose stable asset layouts over a descriptor registry
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  docs/adr/0006-resolve-immutable-assets-through-storage-descriptors.md
  docs/adr/0007-resolve-assets-through-stable-object-layouts.md
Due: apps

test(user): isolate optional publication storage in health fixtures
  apps/user/test/profile-pictures.integration.test.ts
  apps/user/test/telemetry.integration.test.ts
Due: apps

fix(color-extractor): retain event identity through quarantine replay
  apps/color-extractor/src/adapters/events/consumer.ts
  apps/color-extractor/test/events-consumer.integration.test.ts
Due: apps

feat(media): consume logical asset contracts in the running app
  apps/media/src/adapters/events/translation.ts
  apps/media/src/app.ts
  apps/media/src/config.ts
  apps/media/test/builders/InProcessMediaBuilder.ts
  apps/media/test/events-translation.test.ts
  apps/media/test/integration/event-consumption.test.ts
  apps/media/test/telemetry.integration.test.ts
Due: apps

fix(web): ignore empty owner queries in profile snapshots
  apps/web/src/hooks/use-owner-profile.ts
  apps/web/test/components/profile-bootstrap.test.tsx
Due: apps

fix(testing): always execute deployed end-to-end checks
  scripts/makefile.test.mjs
  turbo.json
Due: none

feat(assets): resolve logical assets through stable storage paths
  packages/core/package.json
  packages/core/src/assets/index.ts
  packages/core/test/assets.test.ts
Due: packages

refactor(variants): use stable asset paths and retain historical coordinates
  apps/variant-generator/.env.example
  apps/variant-generator/src/adapters/events/broker.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/src/app.ts
  apps/variant-generator/src/config.ts
  apps/variant-generator/test/builders/InProcessVariantGeneratorBuilder.ts
  apps/variant-generator/test/config.test.ts
  apps/variant-generator/test/events.integration.test.ts
  apps/variant-generator/test/health.test.ts
  apps/variant-generator/test/image-adapter.integration.test.ts
  apps/variant-generator/test/image-cancellation.test.ts
  apps/variant-generator/test/image-replay.integration.test.ts
  apps/variant-generator/test/integration/variant-generation.test.ts
  apps/variant-generator/test/server.integration.test.ts
  apps/variant-generator/test/telemetry.integration.test.ts
Due: apps

docs(events): record asset reference ownership and review evidence
  apps/color-extractor/.env.example
  apps/ingestor/.env.example
  apps/media/.env.example
  apps/user/.env.example
  apps/variant-generator/.env.example
  docs/adr/0006-resolve-immutable-assets-through-storage-descriptors.md
  plans/event-contract-review.md
Due: apps

test(core): cover malformed immutable asset descriptors
  packages/core/test/integration/assets.test.ts
Due: packages

test(web-e2e): isolate mutable journeys with disposable owners
  apps/web-e2e/src/auth-state.ts
  apps/web-e2e/src/disposable-owner.ts
  apps/web-e2e/test/disposable-owner.test.ts
Due: apps

fix(web): separate wallpaper card action controls
  apps/web/src/components/grid/WallpaperCard.tsx
  apps/web/test/components/grid/WallpaperCard.test.tsx
Due: apps

test(web): build clean fixture dependencies in isolation
  scripts/makefile.test.mjs
Due: none

fix(media): cancel sibling dependency health work on failure
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

docs: preserve reviewed resolutions after linear rebase
  apps/color-extractor/README.md
  apps/docs/content/docs/guides/service-upgrades.mdx
  apps/media/docs/adr/0001-replay-safe-delivery-catalog.md
  apps/media/swagger.json
  apps/variant-generator/README.md
  apps/variant-generator/docs/adr/0001-replay-safe-variant-generation.md
  apps/web-e2e/README.md
  packages/core/README.md
  packages/events/README.md
  packages/test-utils/README.md
  plans/event-contract-review.md
Due: apps, packages

fix(web): typecheck authentication and hook test fixtures
  apps/web/test/app-upload-navigation.test.tsx
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
  apps/web/test/components/upload-auth-gate.test.tsx
  apps/web/test/contexts/upload-queue-reducer.test.ts
  apps/web/test/hooks/useCountdown.test.ts
  apps/web/test/hooks/useIntersectionObserver.test.tsx
  apps/web/test/lib/auth/token-provider.test.ts
  apps/web/test/routes/sso-callback.test.tsx
  apps/web/test/setup.ts
Due: apps

fix(health): interrupt sibling storage probes on failure
  apps/color-extractor/src/adapters/image/index.ts
  apps/color-extractor/test/image-cancellation.test.ts
  apps/ingestor/src/adapters/assets/index.ts
  apps/ingestor/test/adapters/assets-lifecycle.test.ts
  apps/variant-generator/src/adapters/image/index.ts
  apps/variant-generator/test/image-cancellation.test.ts
Due: apps

fix(web): build workspace dependencies in the development image
  apps/web/Dockerfile.dev
Due: apps

docs(review): record passing CI and browser evidence
  docs/review-evidence/event-contracts/README.md
  docs/review-evidence/event-contracts/catalogue-filter.webm
  docs/review-evidence/event-contracts/profile-picture-removal.webm
  docs/review-evidence/event-contracts/upload-notification.webm
  docs/review-evidence/event-contracts/variant-dimensions.webm
  plans/event-contract-review.md
Due: none

fix(media): probe configured immutable asset registry
  apps/media/src/adapters/catalog/index.ts
  apps/media/test/catalog-logical-assets.test.ts
Due: apps

docs(review): record typecheck gap and follow-up scope
  plans/event-contract-review.md
Due: none

fix(gateway): reject cursors incompatible with wallpaper ordering
  apps/gateway/src/catalogue/index.ts
  apps/gateway/test/catalogue.test.ts
Due: apps

docs(review): explain validation repairs and shared replay contract
  plans/event-contract-review.md
Due: none
