Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

RALPH: Review - guarantee index test cleanup
  apps/gateway/test/opensearch.test.ts
Due: apps

RALPH: create signed-in Profiles for #164 (PRD #39)
  apps/user/.env.example
  apps/user/drizzle/0000_parallel_shocker.sql
  apps/user/drizzle/meta/0000_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/package.json
  apps/user/src/app.ts
  apps/user/src/config.ts
  apps/user/src/db/schema.ts
  apps/user/src/routes/index.ts
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/clerk-identity.service.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  apps/web/.env.example
  apps/web/src/App.tsx
  apps/web/src/components/profile-bootstrap.tsx
  apps/web/src/lib/api/user.ts
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/lib/api/user.test.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/profile-created.ts
  packages/events/test/schemas.test.ts
  pnpm-lock.yaml
Due: apps, packages

chore(sandcastle): share Turborepo cache
  .sandcastle/helpers.test.ts
  .sandcastle/sandbox.ts
Due: none

test(color-extractor): add focused testing seams
  apps/color-extractor/package.json
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/services/color-extraction-processor.ts
  apps/color-extractor/src/services/consumers/wallpaper-uploaded-consumer.service.ts
  apps/color-extractor/src/services/events.service.ts
  apps/color-extractor/src/services/minio-histogram-provider.ts
  apps/color-extractor/src/services/minio-image-reader.ts
  apps/color-extractor/src/services/ports.ts
  apps/color-extractor/src/services/sharp-histogram-provider.ts
  apps/color-extractor/test/color-extraction-pipeline.integration.test.ts
  apps/color-extractor/test/color-extraction-processor.test.ts
  apps/color-extractor/test/health.integration.test.ts
  apps/color-extractor/test/minio-histogram-provider.test.ts
  apps/color-extractor/test/minio-image-reader.integration.test.ts
  apps/color-extractor/test/sharp-histogram-provider.test.ts
  apps/color-extractor/test/wallpaper-uploaded-handler.test.ts
  apps/color-extractor/vitest.all.config.ts
  apps/color-extractor/vitest.integration.config.ts
Due: apps

test(color-extractor): wire fast suite into CI
  apps/color-extractor/package.json
  apps/color-extractor/test/sharp-histogram-provider.test.ts
  apps/color-extractor/vitest.config.ts
  apps/color-extractor/vitest.integration.config.ts
  package.json
Due: apps

RALPH: complete independent index lifecycle (#163, PRD #39)
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

RALPH: prepare gateway for projected indexes (#39)
  apps/gateway/src/opensearch/index-definitions.ts
  apps/gateway/src/services/index-manager.service.ts
  apps/gateway/test/opensearch.test.ts
Due: apps

sandcastle changes
  .gitignore
  .sandcastle/implement-prompt.md
  .sandcastle/main.ts
  .sandcastle/review-prompt.md
Due: none

docs(research): define sandbox verification split
  docs/research/sandcastle-verification-split.md
Due: none

docs(research): choose local sandbox boundary
  docs/research/sandcastle-local-sandbox-boundary.md
Due: none

prototype: model cumulative PR lifecycle
  .sandcastle/prototypes/cumulative-pr-lifecycle.mjs
Due: none

PROTOTYPE: model CI and review convergence
  .sandcastle/prototypes/convergence-state-machine.mjs
Due: none

PROTOTYPE: unify automatic review transitions
  .sandcastle/prototypes/convergence-state-machine.mjs
Due: none

PROTOTYPE: review each candidate once
  .sandcastle/prototypes/convergence-state-machine.mjs
Due: none

chore(sandcastle): use user Turbo cache
  .sandcastle/helpers.test.ts
  .sandcastle/sandbox.ts
Due: none

sandcastle changes
  .sandcastle/helpers.test.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/plan.ts
  .sandcastle/review-prompt.md
Due: none

RALPH: complete signed-in Profiles for #164 (PRD #39)
  apps/docs/content/docs/services/user.mdx
  apps/user/README.md
  apps/user/src/routes/profile.routes.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  packages/events/README.md
  scripts/setup-worktree.mjs
Due: apps, packages

fix(sandcastle): stream reusable sandbox output
  .github/workflows/ci.yml
  .sandcastle/README.md
  .sandcastle/logging.test.ts
  .sandcastle/logging.ts
  .sandcastle/main.ts
  .sandcastle/stream-smoke-prompt.md
  .sandcastle/stream-smoke.ts
  Makefile
  package.json
Due: none

RALPH: complete issue #190 streaming workaround (PRD: none)
  .sandcastle/README.md
Due: none

RALPH: Review - clarify Sandcastle command documentation
  .sandcastle/README.md
  Makefile
Due: none

RALPH: finalize signed-in Profiles for #164 (PRD #39)
  apps/docs/content/docs/services/user.mdx
  apps/user/README.md
  apps/user/drizzle/0001_wild_carnage.sql
  apps/user/drizzle/meta/0001_snapshot.json
  apps/user/drizzle/meta/_journal.json
  apps/user/src/db/schema.ts
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
  apps/web/src/lib/api/user.ts
  apps/web/test/components/profile-bootstrap.test.tsx
  apps/web/test/lib/api/user.test.ts
  packages/events/README.md
  packages/events/src/schemas/profile-created.ts
  packages/events/test/schemas.test.ts
Due: apps, packages

fix(sandcastle): remove review smoke scaffolding
  .github/workflows/ci.yml
  .sandcastle/README.md
  .sandcastle/logging.test.ts
  .sandcastle/logging.ts
  .sandcastle/stream-smoke-prompt.md
  .sandcastle/stream-smoke.ts
  Makefile
  package.json
Due: none

chore: use sandcastle fork
  package.json
  pnpm-lock.yaml
Due: none

chore: add sandcastle auth command
  .sandcastle/README.md
  Makefile
Due: none

chore: disable verbose sandcastle logging
  .sandcastle/README.md
  .sandcastle/logging.ts
Due: none

RALPH: finish signed-in Profiles for #164 (PRD #39)
  apps/user/src/services/clerk-identity.service.ts
  apps/user/test/clerk-identity.service.test.ts
  apps/web/test/components/profile-bootstrap.test.tsx
Due: apps

RALPH: Review - fix Profile service injection
  apps/user/src/services/profile.service.ts
  apps/user/test/profile.integration.test.ts
Due: apps

chore: upgrade sandcastle fork
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
