Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

feat(web,upload): add Stop and Resume controls to upload queue toast (#86)
  apps/web/src/components/upload/upload-queue-toast-manager.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
Due: apps

feat(web,upload): add amber/striped progress bar style for stopped queue state (#87)
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/upload/upload-queue-toast.tsx
  apps/web/src/index.css
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload/upload-queue-toast.test.tsx
Due: apps

feat(web): install clerk, and add publishable key
  apps/web/.env.example
  apps/web/package.json
  pnpm-lock.yaml
Due: apps

feat(api,bruno): add Bruno env generation to worktree isolation
  .gitignore
  api/environments/local.bru
  api/environments/local.bru.example
  api/media/health/health-check.bru
  api/media/health/readiness-check.bru
  api/media/wallpapers/get-wallpaper-original.bru
  api/media/wallpapers/get-wallpaper-resized.bru
  scripts/setup-worktree.mjs
Due: none

feat(color-extractor): scaffold color-extractor microservice
  Makefile
  api/color-extractor/health/health-check.bru
  api/color-extractor/health/readiness-check.bru
  api/environments/local.bru.example
  apps/color-extractor/.env.example
  apps/color-extractor/.gitignore
  apps/color-extractor/.vscode/extensions.json
  apps/color-extractor/.vscode/settings.json
  apps/color-extractor/Dockerfile
  apps/color-extractor/Dockerfile.dev
  apps/color-extractor/biome.json
  apps/color-extractor/esbuild.config.ts
  apps/color-extractor/package.json
  apps/color-extractor/src/app.ts
  apps/color-extractor/src/config.ts
  apps/color-extractor/src/connections/minio.ts
  apps/color-extractor/src/connections/nats.ts
  apps/color-extractor/src/errors/problem-details.ts
  apps/color-extractor/src/index.ts
  apps/color-extractor/src/otel-init.ts
  apps/color-extractor/src/routes/health.routes.ts
  apps/color-extractor/src/routes/index.ts
  apps/color-extractor/src/services/health.service.ts
  apps/color-extractor/test/builders/InProcessColorExtractorBuilder.ts
  apps/color-extractor/test/builders/index.ts
  apps/color-extractor/test/health.test.ts
  apps/color-extractor/tsconfig.json
  apps/color-extractor/vitest.config.ts
  apps/docs/content/docs/services/color-extractor.mdx
  infra/caddy/Caddyfile
  infra/docker-compose.apps.yml
  pnpm-lock.yaml
Due: apps

feat(agents): add a sub issues skill
  .agents/skills/prd-to-issues/SKILL.md
  .agents/skills/sub-issues/SKILL.md
Due: none

feat(scripts): add env-pipeline module and secret file lifecycle
  scripts/lib/env-pipeline.mjs
  scripts/setup-worktree.mjs
Due: none

feat(web): add auth API client tests for bearer token injection (#92)
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/lib/graphql/client.test.ts
Due: apps

fix(web,auth): pass basePath redirectUrl to Clerk signOut
  apps/web/src/components/user-menu.tsx
  apps/web/test/components/user-menu.test.tsx
Due: apps

fix(web,auth): prepend base path to OAuth redirectUrlComplete
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
Due: apps

fix(web,auth): call prepareEmailAddressVerification before showing verification form
  apps/web/src/components/sign-up-form.tsx
  apps/web/test/components/sign-up-form.test.tsx
Due: apps

feat(web,auth): add custom sign-up page with Clerk headless hook
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/routes/sign-up.tsx
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
Due: apps

feat(agents): add clerk custom ui skill
  .agents/skills/clerk-custom-ui/SKILL.md
  .agents/skills/clerk-custom-ui/core-2/custom-sign-in.md
  .agents/skills/clerk-custom-ui/core-2/custom-sign-up.md
  .agents/skills/clerk-custom-ui/core-3/custom-sign-in.md
  .agents/skills/clerk-custom-ui/core-3/custom-sign-up.md
  .agents/skills/clerk-custom-ui/core-3/show-component.md
  skills-lock.json
Due: none

fix(web): use TanStack Router Link for sign-in navigation to respect base path
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/test/components/user-menu.test.tsx
Due: apps

feat(web): add Clerk auth foundation and sign-in page (#91)
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/auth-bridge.tsx
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/api/ingestor.ts
  apps/web/src/lib/auth/token-provider.ts
  apps/web/src/lib/graphql/client.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/sign-in.tsx
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/user-menu.test.tsx
  apps/web/test/lib/api/ingestor.test.ts
  apps/web/test/lib/auth/token-provider.test.ts
  apps/web/test/lib/graphql/client.test.ts
  pnpm-lock.yaml
Due: apps

feat(web,auth): migrate Clerk SDK from Core 2 to Core 3 API
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/auth-bridge.tsx
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/auth/clerk-errors.ts
  apps/web/src/routes/sign-in.tsx
  apps/web/src/routes/sign-up.tsx
  apps/web/src/routes/sso-callback.tsx
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
  apps/web/test/routes/sso-callback.test.tsx
  pnpm-lock.yaml
Due: apps

feat(web,upload): add upload auth gate (#95)
  apps/web/src/components/upload-auth-gate.tsx
  apps/web/src/routes/upload.tsx
  apps/web/test/components/upload-auth-gate.test.tsx
Due: apps

feat(web,user-menu): add disabled Profile link with coming-soon indicator (#94)
  apps/web/src/components/user-menu.tsx
  apps/web/test/components/user-menu.test.tsx
Due: apps

refactor(web,test): replace @clerk/clerk-react with @clerk/react in test files
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
  apps/web/test/routes/sso-callback.test.tsx
Due: apps

feat(scripts): add color-extractor to service overrides and Bruno env
  scripts/setup-worktree.mjs
Due: none

refactor(web,test): rewrite auth tests for Clerk Core 3 API
  apps/web/test/components/sign-in-form.test.tsx
  apps/web/test/components/sign-up-form.test.tsx
  apps/web/test/routes/sso-callback.test.tsx
Due: apps

feat(auth): scaffold @wallpaperdb/auth package for backend auth
  packages/auth/biome.json
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/test/user.test.ts
  packages/auth/tsconfig.json
  packages/auth/vitest.config.ts
  pnpm-lock.yaml
Due: packages

Path conditions:
  apps: any of: apps/
  packages: any of: packages/
