Repository rafaeltab/wallpaperdb: changes, and which Codecov flags are due for each by the changed paths.
All: apps, packages

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

flags:
  apps:
    paths:
      - apps/
  packages:
    paths:
      - packages/

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

ci: Fix some issues that were occurring in ci
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  packages/test-utils/tests/docker.test.ts
  packages/test-utils/tests/minio.test.ts
  packages/test-utils/tests/nats.test.ts
  packages/test-utils/tests/postgres.test.ts
  packages/test-utils/tests/redis.test.ts
Due: packages

ci: Fix testcontainers network issues, missing builds, and missing steps
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  apps/ingestor/package.json
  apps/ingestor/src/services/reconciliation/stuck-uploads-reconciliation.service.ts
  packages/test-utils/tests/docker.test.ts
  packages/test-utils/tests/minio.test.ts
  packages/test-utils/tests/nats.test.ts
  packages/test-utils/tests/postgres.test.ts
  packages/test-utils/tests/redis.test.ts
  turbo.json
Due: apps, packages

ci: Add missing turbo install step, and build step
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Add logging about connection endpoints
  apps/ingestor/src/connections/minio.ts
  apps/ingestor/src/connections/nats.ts
  apps/ingestor/src/connections/redis.ts
  packages/test-utils/vitest.config.ts
Due: apps, packages

fix: Fixed a bunch of issues, also ran format on accident before committing
  apps/ingestor/esbuild.config.js
  apps/ingestor/esbuild.config.ts
  apps/ingestor/package.json
  apps/ingestor/src/app.ts
  apps/ingestor/src/connections/base/base-connection.ts
  apps/ingestor/src/connections/database.ts
  apps/ingestor/src/connections/minio.ts
  apps/ingestor/src/connections/nats.ts
  apps/ingestor/src/connections/otel.ts
  apps/ingestor/src/connections/redis.ts
  apps/ingestor/src/index.ts
  apps/ingestor/src/routes/health.routes.ts
  apps/ingestor/src/routes/upload.routes.ts
  apps/ingestor/src/services/core/time.service.ts
  apps/ingestor/src/services/events.service.ts
  apps/ingestor/src/services/health.service.ts
  apps/ingestor/src/services/rate-limit.service.ts
  apps/ingestor/src/services/reconciliation/base-reconciliation.service.ts
  apps/ingestor/src/services/reconciliation/missing-events-reconciliation.service.ts
  apps/ingestor/src/services/reconciliation/orphaned-intents-reconciliation.service.ts
  apps/ingestor/src/services/reconciliation/orphaned-minio-reconciliation.service.ts
  apps/ingestor/src/services/reconciliation/stuck-uploads-reconciliation.service.ts
  apps/ingestor/src/services/scheduler.service.ts
  apps/ingestor/src/services/state-machine/wallpaper-state-machine.service.ts
  apps/ingestor/src/services/storage.service.ts
  apps/ingestor/src/services/upload/upload-orchestrator.service.ts
  packages/test-utils/src/builders/MinioTesterBuilder.ts
  packages/test-utils/src/builders/NatsTesterBuilder.ts
  packages/test-utils/src/builders/PostgresTesterBuilder.ts
  packages/test-utils/src/builders/RedisTesterBuilder.ts
  packages/testcontainers/src/containers/nats.ts
  packages/url-ipv4-resolver/biome.json
  packages/url-ipv4-resolver/package.json
  packages/url-ipv4-resolver/src/index.ts
  packages/url-ipv4-resolver/test/resolver.test.ts
  packages/url-ipv4-resolver/tsconfig.json
  packages/url-ipv4-resolver/vitest.config.ts
  pnpm-lock.yaml
Due: apps, packages

ci: update to node 22
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Use directIp
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
  packages/test-utils/src/builders/MinioTesterBuilder.ts
  packages/test-utils/src/builders/NatsTesterBuilder.ts
  packages/test-utils/src/builders/PostgresTesterBuilder.ts
  packages/test-utils/src/builders/RedisTesterBuilder.ts
Due: apps, packages

Forgot postgres *sigh*
  apps/ingestor-e2e/test/builders/ContainerizedIngestorBuilder.ts
Due: apps

ci: check if not using dockerode fixes the Test Packages failures
  packages/test-utils/tests/redis.test.ts
Due: packages

ci: Try using docker sock path
  packages/test-utils/tests/docker.test.ts
  packages/test-utils/tests/minio.test.ts
  packages/test-utils/tests/nats.test.ts
  packages/test-utils/tests/postgres.test.ts
  packages/test-utils/tests/redis.test.ts
Due: packages

ci: restore the redis should create a container test Broke it to test cause of errors
  packages/test-utils/tests/redis.test.ts
Due: packages

refactor: extract BaseConnection to @wallpaperdb/core
  apps/ingestor/package.json
  apps/ingestor/src/connections/base/base-connection.ts
  apps/ingestor/src/connections/database.ts
  apps/ingestor/src/connections/minio.ts
  apps/ingestor/src/connections/nats.ts
  apps/ingestor/src/connections/otel.ts
  apps/ingestor/src/connections/redis.ts
  packages/core/package.json
  packages/core/src/connections/base/base-connection.ts
  packages/core/src/connections/base/index.ts
  packages/core/src/connections/index.ts
  packages/core/src/index.ts
  packages/core/test/base-connection.test.ts
  packages/core/tsconfig.json
  packages/core/vitest.config.ts
  pnpm-lock.yaml
Due: apps, packages

refactor: extract connection utilities and errors to @wallpaperdb/core
  apps/ingestor/src/errors/problem-details.ts
  packages/core/package.json
  packages/core/src/connections/database.ts
  packages/core/src/connections/index.ts
  packages/core/src/connections/minio.ts
  packages/core/src/connections/nats.ts
  packages/core/src/connections/otel.ts
  packages/core/src/connections/redis.ts
  packages/core/src/connections/types.ts
  packages/core/src/errors/application-error.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/problem-details.ts
  packages/core/src/index.ts
  packages/core/test/database.test.ts
  packages/core/test/errors.test.ts
  pnpm-lock.yaml
Due: apps, packages

fix: use source files in core package exports for type checking
  packages/core/package.json
Due: packages

feat: add telemetry module to @wallpaperdb/core
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/telemetry/attributes.ts
  packages/core/src/telemetry/index.ts
  packages/core/src/telemetry/metrics.ts
  packages/core/src/telemetry/tracing.ts
  packages/core/test/telemetry.test.ts
  pnpm-lock.yaml
Due: packages

feat: add @wallpaperdb/events package with event schemas
  apps/ingestor/package.json
  apps/ingestor/src/services/events.service.ts
  packages/events/package.json
  packages/events/src/index.ts
  packages/events/src/schemas/index.ts
  packages/events/src/schemas/wallpaper-uploaded.ts
  packages/events/test/schemas.test.ts
  packages/events/tsconfig.json
  packages/events/vitest.config.ts
  pnpm-lock.yaml
Due: apps, packages

docs: add CI/local development parity plan
  plans/ci-local-parity.md
Due: none

feat: implement CI/local development parity
  CLAUDE.md
  Makefile
  apps/ingestor-e2e/package.json
  package.json
  packages/core/package.json
  packages/events/package.json
  packages/test-utils/package.json
  packages/testcontainers/package.json
  packages/url-ipv4-resolver/package.json
Due: apps, packages

fix: Use typescript directly without build everywhere. AI only applied it in some places
  Makefile
  apps/ingestor-e2e/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/events/package.json
  packages/events/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/testcontainers/package.json
  packages/testcontainers/tsconfig.json
  packages/url-ipv4-resolver/package.json
  packages/url-ipv4-resolver/tsconfig.json
Due: apps, packages

feat: add BaseEventPublisher and BaseEventConsumer to @wallpaperdb/events
  packages/core/src/telemetry/attributes.ts
  packages/events/package.json
  packages/events/src/consumer/base-event-consumer.ts
  packages/events/src/consumer/index.ts
  packages/events/src/index.ts
  packages/events/src/publisher/base-event-publisher.ts
  packages/events/src/publisher/index.ts
  packages/events/src/schemas/base-event.ts
  packages/events/src/schemas/index.ts
  packages/events/test/consumer/base-event-consumer.test.ts
  packages/events/test/publisher/base-event-publisher.test.ts
  packages/events/test/schemas.test.ts
  pnpm-lock.yaml
Due: packages

refactor: migrate ingestor EventsService to use BaseEventPublisher
  apps/ingestor/src/services/events.service.ts
  apps/ingestor/src/services/publishers/index.ts
  apps/ingestor/src/services/publishers/wallpaper-uploaded.publisher.ts
Due: apps

refactor: restructure tests by intensity with Turbo caching
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  CLAUDE.md
  Makefile
  apps/ingestor-e2e/package.json
  apps/ingestor/package.json
  package.json
  packages/core/package.json
  packages/events/package.json
  packages/test-utils/package.json
  packages/testcontainers/package.json
  packages/url-ipv4-resolver/package.json
  turbo.json
Due: apps, packages

fix: Add global pass through env for `GITHUB_ACTIONS`
  turbo.json
Due: none

feat: add config and health modules to @wallpaperdb/core
  apps/ingestor/src/config.ts
  apps/ingestor/src/routes/health.routes.ts
  apps/ingestor/src/services/health.service.ts
  docs/architecture/shared-packages.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/config/index.ts
  packages/core/src/config/schemas/database.schema.ts
  packages/core/src/config/schemas/index.ts
  packages/core/src/config/schemas/nats.schema.ts
  packages/core/src/config/schemas/otel.schema.ts
  packages/core/src/config/schemas/redis.schema.ts
  packages/core/src/config/schemas/s3.schema.ts
  packages/core/src/config/schemas/server.schema.ts
  packages/core/src/config/utils/config-composer.ts
  packages/core/src/config/utils/env-parser.ts
  packages/core/src/config/utils/index.ts
  packages/core/src/health/formatters.ts
  packages/core/src/health/health-aggregator.ts
  packages/core/src/health/index.ts
  packages/core/src/health/types.ts
  packages/core/src/index.ts
  packages/core/test/base-connection.test.ts
  packages/core/test/config.test.ts
  packages/core/test/errors.test.ts
  packages/core/test/health.test.ts
  packages/events/README.md
  plans/done/shared-packages-migration.md
  pnpm-lock.yaml
Due: apps, packages

refactor: restructure tests by intensity with Turbo caching
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  apps/ingestor-e2e/package.json
  apps/ingestor/package.json
  apps/ingestor/vitest.config.ts
  package.json
  packages/core/biome.json
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/events/biome.json
  packages/events/package.json
  packages/events/vitest.config.ts
  packages/test-utils/package.json
  packages/test-utils/vitest.config.ts
  packages/testcontainers/package.json
  packages/testcontainers/vitest.config.ts
  packages/url-ipv4-resolver/package.json
  packages/url-ipv4-resolver/vitest.config.ts
  turbo.json
Due: apps, packages

feat: add observability instrumentation, dashboards, and Bruno API collection
  api/bruno.json
  api/environments/local.bru
  api/ingestor/health/health-check.bru
  api/ingestor/health/readiness-check.bru
  api/ingestor/upload/upload-wallpaper.bru
  apps/ingestor/src/services/file-processor.service.ts
  apps/ingestor/src/services/reconciliation/base-reconciliation.service.ts
  apps/ingestor/src/services/state-machine/wallpaper-state-machine.service.ts
  apps/ingestor/src/services/storage.service.ts
  apps/ingestor/src/services/upload/upload-orchestrator.service.ts
  docs/observability/README.md
  infra/docker-compose.yml
  infra/grafana/dashboards/upload-overview.json
  infra/grafana/provisioning/alerting/alerting.yaml
  infra/grafana/provisioning/dashboards/dashboards.yaml
  infra/postgres/pgadmin-servers.json
  plans/done/observability-implementation.md
Due: apps

plan: Do a lot of planning, and mark some steps as done
  plans/NEXT-STEPS.md
  plans/done/ci-local-parity.md
  plans/done/rate-limiting-redis-implementation.md
  plans/done/test-infrastructure-refactoring.md
  plans/done/test-infrastructure-setup.md
  plans/done/testing.md
  plans/media-service.md
  plans/multi-service-architecture.md
  plans/openapi-integration.md
  plans/phase3-fixtures-and-helpers.md
  plans/plan.md
  plans/services.md
Due: none

feat: add OpenAPI support with Swagger UI documentation
  apps/ingestor/src/app.ts
  apps/ingestor/src/routes/health.routes.ts
  apps/ingestor/src/routes/schemas/upload.schema.ts
  apps/ingestor/src/routes/upload.routes.ts
  packages/core/package.json
  packages/core/src/openapi/index.ts
  packages/core/src/openapi/plugin.ts
  packages/core/src/openapi/schemas/common.schema.ts
  packages/core/src/openapi/schemas/health.schema.ts
  packages/core/src/openapi/schemas/index.ts
  packages/core/src/openapi/schemas/problem-details.schema.ts
  packages/core/src/openapi/utils/zod-to-json-schema.ts
  packages/core/test/openapi.test.ts
  pnpm-lock.yaml
Due: apps, packages

feat(openapi): Functional version
  apps/ingestor/src/routes/schemas/upload.schema.ts
  packages/core/src/openapi/schemas/problem-details.schema.ts
Due: apps, packages

fix(openapi): improve OpenAPI spec with proper schemas and multipart support
  apps/ingestor/src/app.ts
  apps/ingestor/src/routes/health.routes.ts
  apps/ingestor/src/routes/schemas/upload.schema.ts
  packages/core/src/openapi/plugin.ts
Due: apps, packages

fix(openapi): fix TypeScript errors and Docker module resolution
  apps/ingestor/Dockerfile
  apps/ingestor/package.json
  packages/core/src/openapi/plugin.ts
  pnpm-lock.yaml
Due: apps, packages

Enhance README with Codecov badge and coverage info
  README.md
Due: none

feat(ai): Add claude commit subagent and commit
  .claude/agents/commit.md
  .claude/commands/commit.md
Due: none

fix(docs): Fix the generation of openapi content in the docs
  apps/docs/content/docs/openapi/health/get.mdx
  apps/docs/content/docs/openapi/ready/get.mdx
  apps/docs/content/docs/openapi/upload/post.mdx
  apps/docs/package.json
  apps/docs/src/lib/openapi.ts
  apps/ingestor/.gitignore
  apps/ingestor/package.json
  apps/ingestor/src/gen_swagger.ts
  apps/ingestor/src/routes/index.ts
  pnpm-lock.yaml
  turbo.json
Due: apps
